.row-bkg-gray {
    opacity: 0.1;
}
.cnv-ui-dark .row-bkg-gray {
    opacity: 0.2;
}

.list-container,
.win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgba(32,32,32,0.1);
}
.cnv-ui-dark .list-container,
.cnv-ui-dark .win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgba(250,250,250,0.2);
}

.shape:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.cnv-ui-dark .shape:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.shape:hover:active
.shape:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.cnv-ui-dark .shape:hover:active,
.cnv-ui-dark .shape:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.bkgcolor-activatable.bkgcolor-hoverable:hover:active,
.bkgcolor-activatable:active {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
}
.cnv-ui-dark .bkgcolor-activatable.bkgcolor-hoverable:hover:active,
.cnv-ui-dark .bkgcolor-activatable:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.bkgcolor-hoverable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.cnv-ui-dark .bkgcolor-hoverable:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigationbar-container {
    background-color: #fcfcfc;
}
.cnv-ui-dark .navigationbar-container {
    background-color: #101010;
}

#navigationbar_vertical.win-listview {
    border-right-color: #e6e6e6;
}
.cnv-ui-dark #navigationbar_vertical.win-listview {
    border-right-color: #525252;
}

#navigationbar_horizontal.win-listview {
    border-bottom-color: #e6e6e6;
}
.cnv-ui-dark #navigationbar_horizontal.win-listview {
    border-bottom-color: #525252;
}

.win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
    background-color: #f2f2f2;
}

.cnv-ui-dark .win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: #525252;
    border-bottom-color: #525252;
    background-color: #393939;
}

.window-color,
.cnv-ui-dark .win-selected .window-color {
    color: #000000;
    background-color: #ffffff;
}

.cnv-ui-dark .window-color,
.win-selected .window-color {
    color: #ffffff;
    background-color: #000000;
}

.win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: #f2f2f2;
}
.cnv-ui-dark .win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.cnv-ui-dark .win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: #393939;
}
.box-bkg {
    background-color: #f2f2f2;
}
.cnv-ui-dark .box-bkg {
    background-color: #2b2b2b;
}
.centerarea {
    background-color: #f2f2f2;
    border-color: #e6e6e6;
}
.cnv-ui-dark .centerarea {
    background-color: #393939;
    border-color: #525252;
}

.row-separator {
    border-top-color: #e6e6e6;
}
.cnv-ui-dark .row-separator {
    border-top-color: #393939;
}

.cnv-input-border-bottom .field_line,
:not(.cnv-input-border-bottom) span.input_field,
:not(.cnv-input-border-bottom) span.input_small_right,
:not(.cnv-input-border-bottom) span.input_small_left,
:not(.cnv-input-border-bottom) span.input_threequarter_left,
:not(.cnv-input-border-bottom) span.input_quarter_right {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-bottom-style: none;
}
:not(.cnv-input-border-bottom) .field_line,
.cnv-input-border-bottom span.input_field,
.cnv-input-border-bottom span.input_small_right,
.cnv-input-border-bottom span.input_small_left,
.cnv-input-border-bottom span.input_threequarter_left,
.cnv-input-border-bottom span.input_quarter_right {
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
}
.cnv-ui-dark:not(.cnv-input-border-bottom) .field_line,
.cnv-ui-dark .cnv-input-border-bottom span.input_field,
.cnv-ui-dark .cnv-input-border-bottom span.input_small_right,
.cnv-ui-dark .cnv-input-border-bottom span.input_small_left,
.cnv-ui-dark .cnv-input-border-bottom span.input_threequarter_left,
.cnv-ui-dark .cnv-input-border-bottom span.input_quarter_right {
    border-bottom-color: #393939;
    border-bottom-style: solid;
}

/********Start Fonts for LiveBridge*********/
@font-face {
    font-family: "Symbols";
    src: url(../lib/WinJS/fonts/Symbols.woff2) format("woff2"), 
         url(../lib/WinJS/fonts/Symbols.woff) format("woff"), 
         url(../lib/WinJS/fonts/Symbols.ttf) format("truetype");
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/BarlowSemiCondensed-SemiBold.woff2) format("woff2"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.woff) format("woff"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/Barlow-Regular.woff2) format("woff2"), 
         url(../fonts/Barlow-Regular.woff) format("woff"), 
         url(../fonts/Barlow-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

:root {
    --max-content-margin-left: calc(50% - 720px);
    --max-content-width: 1410px;
    --max-content-width-surface: 1460px !important;
    /*
    --e-global-color-primary: #2A2F3D;
    --e-global-color-secondary: #07B9CB;
    --e-global-color-text: #2A2F3D;
    --e-global-color-accent: #C2D63E;
    --e-global-color-d4faeed: #F3FBFC;
    */
}
.body-content-bottom {
    visibility: hidden;
}
.body-content-bottom section:not(.elementor-inner-section) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    position: absolute !important;
    padding: 0 15px !important;
}
.body-content-bottom section:not(.elementor-inner-section) > div {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.view-size-biggest .body-content-bottom section:not(.elementor-inner-section) {
    left: 20px !important;
    width: calc(100% - 70px) !important;
}
.view-size-medium .body-content-bottom section:not(.elementor-inner-section) {
    left: 5px !important;
    width: calc(100% - 30px) !important;
    padding: 0 10px !important;
}
.view-size-small .body-content-bottom section:not(.elementor-inner-section) {
    left: 0 !important;
    width: calc(100% - 20px) !important;
}

section.elementor-inner-section > div {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.contentarea {
    background-color: var(--e-global-color-d4faeed, #F3FBFC);
}
.win-type-body {
    color: var(--e-global-color-text, #2A2F3D);
}
.caption-field {
    color: var(--e-global-color-secondary, #07B9CB);
}
.sticky-scrolled .sticky-header-pinned-fixed {
    background-color: Window;
}

.win-button {
    cursor: pointer;
}

.text-lightcolor.win-button {
    background-color: Window;
}

.text-lightcolor.win-button:disabled {
    background-color: #dcdcE4;
    cursor: default;
}

/******** Ende Fonts for LiveBridge*********/