body, body * {
    color-scheme: light;
}
body.cnv-ui-dark, body.cnv-ui-dark * {
    color-scheme: dark;
}

.win-listview > object {
    visibility: hidden;
}

.row-bkg-gray {
    opacity: 0.1;
}
.cnv-ui-dark .row-bkg-gray {
    opacity: 0.2;
}
.masterhost-container .pagecontrol {
    background-color: #fcfcfc;
}
.cnv-ui-dark .masterhost-container .pagecontrol {
    background-color: #101010;
}

.list-container,
.win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgba(32,32,32,0.1);
}
.cnv-ui-dark .list-container,
.cnv-ui-dark .win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgba(250,250,250,0.2);
}

.shape:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.cnv-ui-dark .shape:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.shape:hover:active
.shape:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.cnv-ui-dark .shape:hover:active,
.cnv-ui-dark .shape:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.bkgcolor-activatable.bkgcolor-hoverable:hover:active,
.bkgcolor-activatable:active {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
}
.cnv-ui-dark .bkgcolor-activatable.bkgcolor-hoverable:hover:active,
.cnv-ui-dark .bkgcolor-activatable:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.bkgcolor-hoverable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.cnv-ui-dark .bkgcolor-hoverable:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigationbar-container {
    background-color: #fcfcfc;
}
.cnv-ui-dark .navigationbar-container {
    background-color: #101010;
}

#navigationbar_vertical.win-listview {
    border-right-color: #e6e6e6;
}
.cnv-ui-dark #navigationbar_vertical.win-listview {
    border-right-color: #525252;
}

#navigationbar_horizontal.win-listview {
    border-bottom-color: #e6e6e6;
}
.cnv-ui-dark #navigationbar_horizontal.win-listview {
    border-bottom-color: #525252;
}

.win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
    background-color: #f2f2f2;
}

.cnv-ui-dark .win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: #525252;
    border-bottom-color: #525252;
    background-color: #393939;
}

.window-color,
.cnv-ui-dark .win-selected .window-color {
    color: #000000;
    background-color: #ffffff;
}

.cnv-ui-dark .window-color,
.win-selected .window-color {
    color: #ffffff;
    background-color: #000000;
}

.win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: #f2f2f2;
}
.cnv-ui-dark .win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.cnv-ui-dark .win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: #393939;
}
.box-bkg {
    background-color: #f2f2f2;
}
.cnv-ui-dark .box-bkg {
    background-color: #2b2b2b;
}
.centerarea {
    background-color: #f2f2f2;
    border-color: #e6e6e6;
}
.cnv-ui-dark .centerarea {
    background-color: #393939;
    border-color: #525252;
}

.row-separator {
    border-top-color: #e6e6e6;
}
.cnv-ui-dark .row-separator {
    border-top-color: #393939;
}

.cnv-input-border-bottom .field_line,
:not(.cnv-input-border-bottom) span.input_field,
:not(.cnv-input-border-bottom) span.input_small_right,
:not(.cnv-input-border-bottom) span.input_small_left,
:not(.cnv-input-border-bottom) span.input_threequarter_left,
:not(.cnv-input-border-bottom) span.input_quarter_right {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-bottom-style: none;
}
:not(.cnv-input-border-bottom) .field_line,
.cnv-input-border-bottom span.input_field,
.cnv-input-border-bottom span.input_small_right,
.cnv-input-border-bottom span.input_small_left,
.cnv-input-border-bottom span.input_threequarter_left,
.cnv-input-border-bottom span.input_quarter_right {
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
}
.cnv-ui-dark:not(.cnv-input-border-bottom) .field_line,
.cnv-ui-dark .cnv-input-border-bottom span.input_field,
.cnv-ui-dark .cnv-input-border-bottom span.input_small_right,
.cnv-ui-dark .cnv-input-border-bottom span.input_small_left,
.cnv-ui-dark .cnv-input-border-bottom span.input_threequarter_left,
.cnv-ui-dark .cnv-input-border-bottom span.input_quarter_right {
    border-bottom-color: #393939;
    border-bottom-style: solid;
}

/********Start Fonts for LiveBridge*********/
@font-face {
    font-family: "Symbols";
    src: url(../lib/WinJS/fonts/Symbols.woff2) format("woff2"), 
         url(../lib/WinJS/fonts/Symbols.woff) format("woff"), 
         url(../lib/WinJS/fonts/Symbols.ttf) format("truetype");
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/BarlowSemiCondensed-SemiBold.woff2) format("woff2"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.woff) format("woff"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/Barlow-Regular.woff2) format("woff2"), 
         url(../fonts/Barlow-Regular.woff) format("woff"), 
         url(../fonts/Barlow-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

:root {
    --max-content-margin-left: calc(50% - 720px);
    --max-content-width: 1410px;
    --max-content-width-surface: 1460px !important;
    /*
    --e-global-color-primary: #2A2F3D;
    --e-global-color-secondary: #07B9CB;
    --e-global-color-text: #2A2F3D;
    --e-global-color-accent: #C2D63E;
    --e-global-color-d4faeed: #F3FBFC;

    --box-shadow-button: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    --outline-focus: 1px solid var(--color-gray-lighter)
    */
    --font-family-default: 'Barlow';
    --box-shadow-popup: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-popup-lifted: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-button: none;
    --outline-focus: none;
}

/*****************Styles für LSCustomer Test deimos******************/

/*.home .win-type-title,
.home .win-type-subtitle,
.home .win-type-body,
.home .win-type-caption,
.events .win-type-title,
.events .win-type-subtitle,
.events .win-type-body,
.events .win-type-caption,
.event .win-type-title,
.event .win-type-subtitle,
.event .win-type-body,
.event .win-h1,
.event .win-h2,
.event .win-h3,
.event .win-h5,
.event .win-tooltip,
.event .win-type-caption,
.event .caption-field,
.event .content-header {
    font-family: "Barlow";
}

.register .win-type-body,
.register .win-type-title,
.register .win-link,
.register .win-container,
.register .win-textbox,
.register .field_line,
.register .field_line_odd,
.register .field_line_full,
.register .label,
.register .checkbox {
    font-family: "Barlow";
    font-weight: 400;
}

.countdown .win-type-body,
.countdown .field_line_full,
.countdown .win-h3,
.countdown .win-h4,
.countdown .win-h5 {
    font-family: "Barlow";
}

.events button.win-button,
.events button.win-button:focus {
    border-radius: 40px 40px 40px 40px;
    outline-style: none;
}

.events button#homeButton {
    padding: 14px 26px;
    color: #ffffff;
}

.events .button-tip .win-tooltip,
.event .button-tip .win-tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    min-width: 200px;
    width: fit-content;
    text-align: center;
    right: -50px;
    top: 20px;
    color: #fff;
    background: var(--e-global-color-text, #2A2F3D);
    border-color: var(--e-global-color-text, #2A2F3D);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    z-index: 99;
}

.event .share-block .win-tooltip {
    visibility: hidden;
    position: relative;
    opacity: 0;
    width: 200px;
    text-align: center;
    left: 0;
    top: 100%;
    color: #fff;
    background: var(--e-global-color-text, #2A2F3D);
    border-color: var(--e-global-color-text, #2A2F3D);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.event .caption-field {
    color: #2a2f3d;
}

.event .section-4 .caption-field {
    color: #c2d63e;
}

.event .speakerblock {
    background-color: inherit;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) {
    border-color: var(--e-global-color-accent, #c2d63e);
}

    .event button#calenderButton:not(:hover):not(:active):not(:focus) .win-type-title {
        color: var(--e-global-color-accent, #c2d63e);
    }

.register #loginButton, .register #re_registerEvent {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--e-global-color-accent, #c2d63e);
}

    .register #loginButton > div > span, .register #re_registerEvent > span {
        font-weight: 400;
        color: var(--e-global-color-accent, #c2d63e);
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 1px;
    }

.text-lightcolor.win-button {
    background-color: #ffffff;
    cursor: pointer;
}

    .text-lightcolor.win-button:disabled {
        background-color: #ffffff;
        cursor: default;
    }

.countdown .countdown-line {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.countdown .count-block {
    background-color: #ffffff;
}

.countdown .win-h3, .countdown .win-h5 {
    color: #2a2f3d;
}


/*****************ENDE Styles für LSCustomer Test deimos************/

.body-content-bottom {
    visibility: hidden;
}
.body-content-bottom section:not(.elementor-inner-section) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    position: absolute !important;
    padding: 0 15px !important;
}
.body-content-bottom section:not(.elementor-inner-section) > div {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.view-size-biggest .body-content-bottom section:not(.elementor-inner-section) {
    left: 20px !important;
    width: calc(100% - 70px) !important;
}
.view-size-medium .body-content-bottom section:not(.elementor-inner-section) {
    left: 5px !important;
    width: calc(100% - 30px) !important;
    padding: 0 10px !important;
}
.view-size-small .body-content-bottom section:not(.elementor-inner-section) {
    left: 0 !important;
    width: calc(100% - 20px) !important;
}

section.elementor-inner-section > div {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.contentarea {
    background-color: var(--e-global-color-d4faeed, #F3FBFC);
}

.win-type-body {
    color: var(--e-global-color-text, #2A2F3D);
}
.caption-field {
    color: var(--e-global-color-secondary, #07B9CB);
}
.sticky-scrolled .sticky-header-pinned-fixed {
    background-color: Window;
}

.win-button {
    cursor: pointer;
}

.text-lightcolor.win-button {
    background-color: Window;
    color: WindowText !important;
    border-color: #c2d63e !important;
}

.text-lightcolor.win-button:hover {
    background-color: #dcdce4;
}

.text-lightcolor.win-button:disabled {
    background-color: #dcdcE4;
    color: #7B7B7F !important;
    cursor: default;
}

.event .contentarea {
    background-color: #ffffff;
}

/***Changes for LSTest 4.02.22***/

.win-type-body {
    color: #333333 !important;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) {
    background-color: Window;  
}

.event.caption-field {
    color: #333333;
}
.event .color_container4 {
    background-color: var(--e-global-color-d4faeed, #F3FBFC);
}
/****End of Changes****/

.item--ZfUxvS.from-myself .messages--ZTkmon > p {
    background-color: var(--color-gray-lighter);
}
.item--ZDfG6l.from-myself .messages--Z2vq9Jh > p {
    background-color: var(--color-gray-lighter);
}

/******** Ende Fonts for LiveBridge*********/
