body, body * {
    color-scheme: light;
}
body.cnv-ui-dark, body.cnv-ui-dark * {
    color-scheme: dark;
}

.win-listview > object {
    visibility: hidden;
}

.row-bkg-gray {
    opacity: 0.1;
}
.cnv-ui-dark .row-bkg-gray {
    opacity: 0.2;
}
.masterhost-container .pagecontrol {
    background-color: #fcfcfc;
}
.cnv-ui-dark .masterhost-container .pagecontrol {
    background-color: #101010;
}

.list-container,
.win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgba(32,32,32,0.1);
}
.cnv-ui-dark .list-container,
.cnv-ui-dark .win-selectionstylefilled .win-container:hover .row-bkg {
    background-color: rgba(250,250,250,0.2);
}

.shape:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.cnv-ui-dark .shape:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.shape:hover:active
.shape:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.cnv-ui-dark .shape:hover:active,
.cnv-ui-dark .shape:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.bkgcolor-activatable.bkgcolor-hoverable:hover:active,
.bkgcolor-activatable:active {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
}
.cnv-ui-dark .bkgcolor-activatable.bkgcolor-hoverable:hover:active,
.cnv-ui-dark .bkgcolor-activatable:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.bkgcolor-hoverable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.cnv-ui-dark .bkgcolor-hoverable:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigationbar-container {
    background-color: #fcfcfc;
}
.cnv-ui-dark .navigationbar-container {
    background-color: #101010;
}

#navigationbar_vertical.win-listview {
    border-right-color: #e6e6e6;
}
.cnv-ui-dark #navigationbar_vertical.win-listview {
    border-right-color: #525252;
}

#navigationbar_horizontal.win-listview {
    border-bottom-color: #e6e6e6;
}
.cnv-ui-dark #navigationbar_horizontal.win-listview {
    border-bottom-color: #525252;
}
.navigationbar-container .resize-helper-command-container button.win-command {
    border-bottom-color: #e6e6e6;
}
.cnv-ui-dark .navigationbar-container .resize-helper-command-container button.win-command {
    border-bottom-color: #525252;
}

.win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
    background-color: #f2f2f2;
}

.cnv-ui-dark .win-commandingsurface .win-commandingsurface-actionarea {
    border-top-color: #525252;
    border-bottom-color: #525252;
    background-color: #393939;
}

.window-color,
.cnv-ui-dark .win-selected .window-color {
    color: #000000;
    background-color: #ffffff;
}

.cnv-ui-dark .window-color,
.win-selected .window-color {
    color: #ffffff;
    background-color: #000000;
}

.win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: #f2f2f2;
}
.cnv-ui-dark .win-selectionstylefilled .win-container .win-selected:hover .row-bkg,
.cnv-ui-dark .win-selectionstylefilled .win-container .win-selected .row-bkg {
    background-color: #393939;
}
.box-bkg {
    background-color: #f2f2f2;
}
.cnv-ui-dark .box-bkg {
    background-color: #2b2b2b;
}
.centerarea {
    background-color: #f2f2f2;
    border-color: #e6e6e6;
}
.cnv-ui-dark .centerarea {
    background-color: #393939;
    border-color: #525252;
}

.row-separator {
    border-top-color: #e6e6e6;
}
.cnv-ui-dark .row-separator {
    border-top-color: #393939;
}

.cnv-input-border-bottom .field_line,
:not(.cnv-input-border-bottom) span.input_field,
:not(.cnv-input-border-bottom) span.input_small_right,
:not(.cnv-input-border-bottom) span.input_small_left,
:not(.cnv-input-border-bottom) span.input_threequarter_left,
:not(.cnv-input-border-bottom) span.input_quarter_right {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-bottom-style: none;
}
:not(.cnv-input-border-bottom) .field_line,
.cnv-input-border-bottom span.input_field,
.cnv-input-border-bottom span.input_small_right,
.cnv-input-border-bottom span.input_small_left,
.cnv-input-border-bottom span.input_threequarter_left,
.cnv-input-border-bottom span.input_quarter_right {
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
}
.cnv-ui-dark:not(.cnv-input-border-bottom) .field_line,
.cnv-ui-dark .cnv-input-border-bottom span.input_field,
.cnv-ui-dark .cnv-input-border-bottom span.input_small_right,
.cnv-ui-dark .cnv-input-border-bottom span.input_small_left,
.cnv-ui-dark .cnv-input-border-bottom span.input_threequarter_left,
.cnv-ui-dark .cnv-input-border-bottom span.input_quarter_right {
    border-bottom-color: #393939;
    border-bottom-style: solid;
}
.cnv-ui-dark .win-selectionstylefilled .win-selected .win-textbox {
    background-color: rgba(250,250,250,0.2);
}
.cnv-ui-dark .win-selectionstylefilled .win-selected .win-textbox:focus {
    background-color: #ffffff;
}



:root {
    --border-size-small: 1px;
    --border-size: 2px;
    --border-size-large: 3px;
    --border-radius: .2rem;

    --sm-padding-x: .75rem;
    --sm-padding-y: .3rem;

    --md-padding-x: 1rem;
    --md-padding-y: .45rem;

    --lg-padding-x: 1.25rem;
    --lg-padding-y: 0.6rem;

    --jumbo-padding-x: 3.025rem;
    --jumbo-padding-y: 1.5rem;

    --indicator-padding: .45rem;

    --user-indicators-offset: -5px;
    --mobile-swap-offset: 3.5rem;
    --min-modal-height: 20rem;
    --modal-margin: 3rem;
    --title-position-left: 2.2rem;
    --closeBtn-position-left: 2.5rem;
    --description-margin: 3.5rem;
    --toast-icon-side: 40px;
    --innerToastWidth: 17rem;
    --iconWrapperSize: 2rem;

    --font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
    --font-family-serif: Georgia, "Times New Roman", Times, serif;
    --font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

    --font-family-base: var(--font-family-sans-serif);

    --font-size-base: 1rem;
    --font-size-xxl: 2.75rem;
    --font-size-xl: 1.75rem;
    --font-size-larger: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-md: 0.95rem; 
    --font-size-small: 0.875rem;
    --font-size-smaller: .75rem;
    --font-size-xs: .575rem;
    --font-size-smallest: .35rem;
  
    --line-height-base: 1.25; // 20/16
    --line-height-computed: 1rem;

    --headings-font-family: inherit;
    --headings-font-weight: 500;
    --headings-line-height: 1.1;
    --headings-color: inherit;

    --color-white: #FFF;
    --color-off-white: #F3F6F9;

    --color-black: #000000;
    --color-gray: #4E5A66;
    --color-gray-dark: #06172A;
    --color-gray-light: #8B9AA8;
    --color-gray-darkest: #111111;
    --color-gray-lighter: #a7b3bd;
    --color-gray-lightest: #d4d9df;

    --color-blue-light: #54a1f3;
    --color-blue-lighter: #92BCEA;
    --color-blue-lightest: #E4ECF2;

    --color-primary: #0F70D7;
    --color-success: #008081;
    --color-danger: #DF2721;
    --color-warning: purple;
    --color-offline: var(--color-gray-light);

    --color-background: var(--color-gray-dark);

    --color-content-background: #1b2a3a;

    --color-text: var(--color-gray);
    --color-heading: var(--color-gray-dark);

    --color-link: var(--color-primary);
    --color-link-hover: #2687ef;

    --color-gray-label: var(--color-gray);

    --color-transparent: #ff000000;
    --color-tip-bg: #333333;

    --color-white-with-transparency: #ffffff40;

    --loader-bg: var(--color-gray-dark);
    --loader-bullet: var(--color-white);
    --user-list-bg: var(--color-off-white);

    --unread-messages-bg: var(--color-danger);
    --user-list-text: var(--color-gray);

    --user-thumbnail-border: var(--color-gray-light);
    --user-thumbnail-text: var(--user-thumbnail-border);

    --voice-user-bg: var(--color-success);
    --voice-user-text: var(--color-white);

    --moderator-text: var(--color-white);
    --moderator-bg: var(--color-primary);

    --sub-name-color: var(--color-gray-light);

    --user-icons-color: var(--color-gray-light);
    --user-icons-color-hover: var(--color-gray);

    --list-item-bg-hover: #dce4ed;
    --item-focus-border: var(--color-blue-lighter);

    --btn-default-color: var(--color-gray);
    --btn-default-bg: var(--color-white);
    --btn-default-border: var(--color-white);

    --btn-primary-color: var(--color-white);
    --btn-primary-bg: var(--color-primary);
    --btn-primary-border: var(--color-primary);

    --btn-success-color: var(--color-white);
    --btn-success-bg: var(--color-success);
    --btn-success-border: var(--color-success);

    --btn-warning-color: var(--color-white);
    --btn-warning-bg: var(--color-warning);
    --btn-warning-border: var(--color-warning);

    --btn-danger-color: var(--color-white);
    --btn-danger-bg: var(--color-danger);
    --btn-danger-border: var(--color-danger);

    --btn-dark-color: var(--color-white);
    --btn-dark-bg: var(--color-gray-dark);
    --btn-dark-border: var(--color-danger);

    --btn-offline-color: var(--color-white);
    --btn-offline-bg: var(--color-offline);
    --btn-offline-border: var(--color-offline);

    --btn-border-size: var(--border-size);
    --btn-border-radius: var(--border-radius);
    --btn-font-weight: 600;
    --btn-spacing: .35rem;

    --btn-sm-font-size: calc(var(--font-size-small) * .85);
    --btn-sm-padding: var(--sm-padding-y) var(--sm-padding-x);

    --btn-md-font-size: calc(var(--font-size-base) * .85);
    --btn-md-padding: var(--md-padding-y) var(--md-padding-x);

    --btn-lg-font-size: calc(var(--font-size-large) * .85);
    --btn-lg-padding: var(--lg-padding-y) var(--lg-padding-x);

    --btn-jumbo-font-size: 3rem;
    --btn-jumbo-padding: var(--jumbo-padding-y) var(--jumbo-padding-x);


    --e-global-color-accent: #c2d63e;
    --e-global-color-primary: #2a2f3d;
    --e-global-color-buttontext: #ffffff;
    --background-item: #7f7f7f;
    --border-color: #b5b5b5;
    --font-family-default: "Open Sans";

    --e-global-color-background: #FFFFFF;
    --e-global-color-secondary: #07B9CB;
    --e-global-color-text: #2A2F3D;
    --e-global-color-d4faeed: #F3FBFC;
    --box-shadow-button: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    --outline-focus: 1px solid var(--color-gray-lighter);

    --box-shadow-popup: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-popup-lifted: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-button: none;
    --outline-focus: none;
}

