<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="nonRecordedContent.css" rel="stylesheet" />
    <script type="text/javascript" src="nonRecordedContentService.js"></script>
    <script type="text/javascript" src="nonRecordedContentController.js"></script>
    <script type="text/javascript" src="nonRecordedContent.js"></script>
</head>
<body class="win-type-body">
    <div class="nonRecordedContent fragment">
        <div id="nonRecordedContentController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <div class="centerarea">
                        <div class="confirm-container">
                            <div class="line-separator register-email"></div>
                            <div class="field_line field_line_full register-email">
                                <span class="large_field"
                                      data-win-res="{textContent: 'nonRecordedContent.waitMessage'}"></span>
                            </div>
                        </div>
                        <div class="countdown-container">
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>