<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="register.css" rel="stylesheet" />
    <script type="text/javascript" src="registerService.js"></script>
    <script type="text/javascript" src="registerController.js"></script>
    <script type="text/javascript" src="register.js"></script>
    <!-- Load language specific scripts -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="lib/fontawesome/css/all.css" />
    <script defer src="lib/fontawesome/js/all.js"></script> <!--load all styles -->
    <link href="lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="lib/fontawesome/css/solid.css" rel="stylesheet">
</head>
<body class="win-type-body">
    <div class="register fragment">
        <div id="registerController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <!--<div class="line-separator register-email"></div>
    <div class="field_line_full register-email">
        <span class="large_field"
              data-win-res="{textContent: 'register.commentEmail'}"></span>
    </div>-->
                    <div class="centerarea registerEmail">
                        <div class="registermail-container" data-win-bind="style.display: showRegisterMail Binding.Converter.toDisplay">
                            <!--<div class="field_line field_line_odd">
                <span class="label win-type-caption portrait_only_left" data-win-res="{textContent: 'register.formOf'}"></span>
                <div class="label landscape_only">
                    <span data-win-res="{textContent: 'register.formOf'}"></span>
                </div>
                <div class="input_group">
                    <select id="InitAnrede"
                            class="input_small_left win-dropdown"
                            data-win-control="WinJS.UI.Repeater"
                            data-win-bind="value: dataRegister.INITAnredeID Binding.Mode.twoway">
                        <option data-win-bind="value: INITAnredeID; textContent: TITLE"></option>
                    </select>
                </div>
            </div>-->
                            <div class="anredeList-template"
                                 data-win-control="WinJS.Binding.Template" style="display: none">
                                <div class="list-anredecon-item">
                                    <label class="list-anredecon-field">
                                        <input type="checkbox" class="win-checkbox" value="1" data-win-bind="textContent: INITAnredeID" onclick="AppBar.handleEvent('click', 'selectOnlyThis', event)" /> <!--onclick  -->
                                        <span data-win-bind="textContent: TITLE"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="anredeList"
                                 class="listview field_line field_line_odd"
                                 data-win-control="WinJS.UI.ListView"
                                 data-win-options="{
                                     itemTemplate: select('.anredeList-template')
                                 }">
                            </div>
                            <div class="field_line field_line_odd">
                                <span class="label win-type-caption portrait_only"
                                      data-win-res="{textContent: 'register.firstName'}"></span>
                                <span class="label landscape_only"
                                      data-win-res="{textContent: 'register.firstName'}"></span>
                                <input class="input_field win-textbox" type="text"
                                       data-win-bind="value: dataRegister.Vorname Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <span class="label win-type-caption portrait_only"
                                      data-win-res="{textContent: 'register.name'}"></span>
                                <span class="label landscape_only"
                                      data-win-res="{textContent: 'register.name'}"></span>
                                <input class="input_field win-textbox" type="text"
                                       data-win-bind="value: dataRegister.Name Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <span class="label win-type-caption portrait_only"
                                      data-win-res="{textContent: 'register.position'}"></span>
                                <span class="label landscape_only"
                                      data-win-res="{textContent: 'register.position'}"></span>
                                <input class="input_field win-textbox" type="text"
                                       data-win-bind="value: dataRegister.Position Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <span class="label win-type-caption portrait_only"
                                      data-win-res="{textContent: 'register.company'}"></span>
                                <span class="label landscape_only"
                                      data-win-res="{textContent: 'register.company'}"></span>
                                <input class="input_field win-textbox" type="text"
                                       data-win-bind="value: dataRegister.Firmenname Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>

                            <div class="field_line field_line_odd">
                                <span class="label win-type-caption portrait_only"
                                      data-win-res="{textContent: 'register.email'}"></span>
                                <span class="label landscape_only"
                                      data-win-res="{textContent: 'register.email'}"></span>
                                <input class="input_field win-textbox" type="text"
                                       data-win-bind="value: dataRegister.Email Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line">
                                <div class="button_line">
                                    <div class="button-element">
                                        <button id="loginButton"
                                                class="text-lightcolor win-button"
                                                onclick="AppBar.handleEvent('click', 'clickOk', event)"
                                                data-win-bind="disabled: loginDisabled">
                                            <span class="win-type-title" data-win-bind="textContent: dataText.ev_text_button_registration_text"></span>
                                            <!--<span data-win-bind="textContent: dataText.ev_text_button_registration_tooltip"></span>-->
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Add font awesome icons -->

                            <div class="field_line">
                                <div class="button_line">
                                    <div class="circle facebook" onclick="AppBar.handleEvent('click', 'clickFacebookLogin', event)">
                                        <i class="fab fa-facebook-square"></i>
                                    </div>
                                    <div class="circle linkedin">
                                        <i class="fab fa-linkedin"></i>
                                    </div>
                                    <div class="circle xing">
                                        <i class="fab fa-xing-square"></i>
                                    </div>
                                    <div class="circle google">
                                        <i class="fab fa-google"></i>
                                    </div>
                                    <!--<a class="fab fa-facebook-f" onclick="AppBar.handleEvent('click', 'clickFacebookLogin', event)"></a>
                                    <div class="fa">
                                        <a class="fab fa-facebook-f" onclick="AppBar.handleEvent('click', 'clickFacebookLogin', event)"></a>
                                    </div>
                                    <div class="fa">
                                        <a class="fab fa-linkedin" onclick="AppBar.handleEvent('click', 'clickLinkinLogin', event)"></a>
                                    </div>
                                    <div class="fa">
                                        <a class="fab fa-google"></a>
                                    </div>
                                    <div class="fa">
                                        <a class="fab fa-xing"></a>
                                    </div>-->
                                </div>
                            </div>
                            <!--<div class="field_line field_line_full">
                <div class="button_line">
                    <a class="fa fa-facebook" onclick="AppBar.handleEvent('click', 'clickFacebookLogin', event)"></a>
                    <a class="fa fa-linkedin" onclick="AppBar.handleEvent('click', 'clickLinkinLogin', event)"></a>
                </div>
            </div>
            <div class="field_line field_line_full">
                <div class="button_line">
                    <div class="button-element">
                        <button id="logoutbutton"
                                class="text-lightcolor titlearea-bkg win-button"
                                onclick="AppBar.handleEvent('click', 'clickFacebookLogout', event)"
                                style="display: none">
                            <span class="win-type-title"
                                  data-win-res="{textContent: 'register.logoutFacebook'}"></span>
                        </button>
                    </div>
                </div>
            </div>-->
                        </div>
                        <div class="resend-editable-mail-container" data-win-bind="style.display: showResendEditableMail Binding.Converter.toDisplay">
                            <div class="field_line register-email" data-win-bind="style.display: registerMessage Binding.Converter.toDisplay">
                                <span class="large_field"
                                      data-win-bind="textContent: registerMessage"></span>
                            </div>

                            <div class="field_line_full register_button">
                                <span data-win-bind="textContent: registerStatus"></span>
                                <!--<span id="statustext">Connecting to Facebook...</span>-->
                            </div>



                            <!--<div class="field_line field_line_odd register_input">
            <span class="label win-type-caption portrait_only"
                  data-win-res="{textContent: 'register.email'}"></span>
            <span class="label landscape_only"
                  data-win-res="{textContent: 'register.email'}"></span>
            <input class="input_field win-textbox" type="text"
                   data-win-bind="value: dataRegister.Email Binding.Mode.twoway; disabled: showResendEditableMail"
                   data-win-bind-onevent="oninput" disabled/>
                                </div>-->
                            <div class="field_line_full register_button">
                                <div class="button_line">
                                    <div class="button-element">
                                        <div id="resendButton"
                                             class="win-link"
                                             onclick="AppBar.handleEvent('click', 'clickResend', event)"
                                             data-win-bind="disabled: resendDisabled">
                                            <span class="win-type-title"
                                                  data-win-res="{textContent: 'register.resend'}"></span>
                                        </div>
                                        <div id="editButton"
                                             class="win-link"
                                             onclick="AppBar.handleEvent('click', 'clickEdit', event)"
                                             data-win-bind="disabled: editDisabled">
                                            <span class="win-type-title"
                                                  data-win-res="{textContent: 'register.edit'}"></span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="field_line_full register_button">
                                <div class="button_line">
                                    <div class="button-element">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reRegisterEvent-mail-container" data-win-bind="style.display: showReRegisterEventMail Binding.Converter.toDisplay">
                            <div class="field_line_full register_button">
                                <div class="button_line">
                                    <div class="button-element">
                                        <button id="re_registerEvent"
                                                class="button text-lightcolor titlearea-bkg win-button"
                                                onclick="AppBar.handleEvent('click', 'clickChangeEvent', event)"
                                                data-win-bind="disabled: editDisabled">
                                            <span class="win-type-title"
                                                  data-win-res="{textContent: 'register.re_registerEvent'}"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="win-h3 share-block">
                            <span data-win-bind="textContent: dataText.ev_text_share_text"></span>
                            <!--<span class="win-tooltip" data-win-bind="textContent: dataText.ev_text_share_tooltip"></span>-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>