#registerController .doc-container {
    float: left;
}

#register.mediaview {
    width: 100%;
    height: calc(100% - 8px);
}
.titlearea-bkg {
	background-color: rgb(216, 97, 65); /*dummy workaround because of exception in color.js*/
}


