<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="register.css" rel="stylesheet" />
    <script type="text/javascript" src="registerService.js"></script>
    <script type="text/javascript" src="registerController.js"></script>
    <script type="text/javascript" src="register.js"></script>
</head>
<body class="win-type-body">
    <div class="register fragment">
        <div id="registerController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <!--<div class="line-separator register-email"></div>
                    <div class="field_line_full register-email">
                        <span class="large_field"
                              data-win-res="{textContent: 'register.commentEmail'}"></span>
                    </div>-->
                    <div class="centerarea registerEmail">
                        <div class="registermail-container" data-win-bind="style.display: showRegisterMail Binding.Converter.toDisplay">
                            <div class="field_line field_line_full">
                                <span class="register_title win-type-caption portrait_only"
                                      data-win-bind="textContent: dataText.ev_text_reg_title"></span>
                                <span class="register_title landscape_only"
                                      data-win-bind="textContent: dataText.ev_text_reg_title"></span>
                            </div>
                            <!--<div class="field_line field_line_odd">
                                <span class="label win-type-caption portrait_only"
                                      data-win-res="{textContent: 'register.salutation'}"></span>
                                <span class="label landscape_only"
                                      data-win-res="{textContent: 'register.salutation'}"></span>
                            </div>
                            <div id="anredeRepeater"
                                 data-win-control="WinJS.UI.Repeater">
                                <div class="list-anredecon-item">
                                    <label class="list-anredecon-field">
                                        <input type="checkbox" class="anrede win-checkbox"
                                               data-win-bind="textContent: INITAnredeID; checked: AnredeChecked"
                                               onclick="AppBar.handleEvent('click', 'selectOnlyThis', event)" />
                                        <span class="checkbox" data-win-bind="textContent: TITLE"></span>
                                    </label>
                                </div>
                            </div>-->
                            <div class="field_line field_line_odd">
                                <input class="input_field win-textbox" type="text"
                                       data-win-res="{placeholder: 'register.firstName'}"
                                       data-win-bind="value: dataRegister.Vorname Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <input class="input_field win-textbox" type="text"
                                       data-win-res="{placeholder: 'register.name'}"
                                       data-win-bind="value: dataRegister.Name Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <input class="input_field win-textbox" type="text"
                                       data-win-res="{placeholder: 'register.position'}"
                                       data-win-bind="value: dataRegister.Position Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <input class="input_field win-textbox" type="text"
                                       data-win-res="{placeholder: 'register.company'}"
                                       data-win-bind="value: dataRegister.Firmenname Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_odd">
                                <input class="input_field win-textbox" type="email"
                                       data-win-res="{placeholder: 'register.email'}"
                                       data-win-bind="value: dataRegister.Email Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_full" data-win-bind="style.display: seriesRegistration Binding.Converter.toDisplay">
                                <label class="list-series-field">
                                    <input type="checkbox" class="win-checkbox" value="1" data-win-bind="checked: dataRegister.seriesRegFlag Binding.Mode.twoway" /> <!--onclick  -->
                                    <span class="checkbox series" data-win-res="{textContent: 'register.seriesText'}"></span>
                                    <!--<span class="checkbox series" data-win-bind="innerHTML: dataText.ev_text_privacy_body; style.display: showEvText Binding.Converter.toDisplay"></span>
    <span class="checkbox" data-win-bind="innerHTML: dataText.off_text_privacy_body; style.display: showOffText Binding.Converter.toDisplay"></span>-->
                                </label>
                            </div>
                            <div class="field_line field_line_full">
                                <label class="list-privacy-field">
                                    <input type="checkbox" class="win-checkbox" value="1" data-win-bind="checked: dataRegister.privacyPolicyFlag Binding.Mode.twoway" /> <!--onclick  -->
                                    <span class="checkbox privacy" data-win-bind="innerHTML: dataText.ev_text_privacy_body; style.display: showEvText Binding.Converter.toDisplay"></span>
                                    <span class="checkbox" data-win-bind="innerHTML: dataText.off_text_privacy_body; style.display: showOffText Binding.Converter.toDisplay"></span>
                                </label>
                            </div>
                            <div class="field_line field_line_full mandatory">
                                <span data-win-res="{textContent: 'register.mandatoryText'}"></span>
                            </div>
                            <div class="field_line">
                                <div class="button_line">
                                    <div class="button-element">
                                        <button id="loginButton"
                                                class="text-lightcolor win-button"
                                                onclick="AppBar.handleEvent('click', 'clickOk', event)"
                                                data-win-bind="disabled: loginDisabled">
                                            <div class="button-tip" data-win-bind="style.display: showEvText Binding.Converter.toDisplay">
                                                <span class="win-type-title" data-win-bind="textContent: dataText.ev_text_button_registration_text"></span>
                                                <div data-win-bind="style.display: loginDisabled Binding.Converter.toDisplayNone">
	                                                <span class="win-tooltip" data-win-bind="textContent: dataText.ev_text_button_registration_tooltip"></span>
                                                </div>
                                            </div>
                                            <div class="button-tip" data-win-bind="style.display: showOffText Binding.Converter.toDisplay">
                                                <span class="win-type-title" data-win-bind="textContent: dataText.off_text_button_registration_text"></span>
                                                <div data-win-bind="style.display: loginDisabled Binding.Converter.toDisplayNone">
	                                                <span class="win-tooltip" data-win-bind="textContent: dataText.off_text_button_registration_tooltip"></span>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="registermail-container" data-win-bind="style.display: showRegisterParticipation Binding.Converter.toDisplay">
                            <div class="field_line field_line_full">
                                <span class="register_title win-type-caption portrait_only"
                                      data-win-bind="textContent: dataText.ev_text_reg_title"></span>
                                <span class="register_title landscape_only"
                                      data-win-bind="textContent: dataText.ev_text_reg_title"></span>
                            </div>
                            <div class="field_line field_line_odd">
                                <input class="input_field win-textbox" type="text"
                                       data-win-res="{placeholder: 'register.nameParctipation'}"
                                       data-win-bind="value: dataRegister.Name Binding.Mode.twoway"
                                       data-win-bind-onevent="oninput" />
                            </div>
                            <div class="field_line field_line_full mandatory">
                                <span data-win-res="{textContent: 'register.mandatoryParticipationText'}"></span>
                            </div>
                            <div class="field_line">
                                <div class="button_line">
                                    <div class="button-element">
                                        <button id="loginButton"
                                                class="text-lightcolor win-button"
                                                onclick="AppBar.handleEvent('click', 'clickOk', event)"
                                                data-win-bind="disabled: loginDisabled">
                                            <div class="button-tip" data-win-bind="style.display: showEvText Binding.Converter.toDisplay">
	                                            <span class="win-type-title" data-win-bind="textContent: dataText.ev_text_button_registration_text"></span>
	                                            <div data-win-bind="style.display: loginDisabled Binding.Converter.toDisplayNone">
		                                            <span class="win-tooltip" data-win-bind="textContent: dataText.ev_text_button_registration_tooltip"></span>
	                                            </div>
                                            </div>
                                            <div class="button-tip" data-win-bind="style.display: showOffText Binding.Converter.toDisplay">
                                                <span class="win-type-title" data-win-bind="textContent: dataText.off_text_button_registration_text"></span>
                                                <div data-win-bind="style.display: loginDisabled Binding.Converter.toDisplayNone">
                                                    <span class="win-tooltip" data-win-bind="textContent: dataText.off_text_button_registration_tooltip"></span>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resend-editable-mail-container" data-win-bind="style.display: showResendEditableMail Binding.Converter.toDisplay">
                            <div class="field_line register-email">
                                <span class="large_field"
                                      data-win-bind="textContent: dataText.on_text_reg_confirm; style.display: showEvText Binding.Converter.toDisplay"></span><!--registerMessage-->
                                <span class="large_field"
                                      data-win-bind="textContent: dataText.off_text_reg_confirm; style.display: showOffText Binding.Converter.toDisplay"></span>
                            </div>
                            <div class="field_line register-email">
                                <span class="large_field"
                                      data-win-bind="textContent: dataRegister.Email; style.fontWeight: dataRegister.Email Binding.Converter.toBold"></span><!--registerMessage-->
                            </div>
                            <!--<div class="field_line_full register_button">
                                <span data-win-bind="textContent: dataText.on_text_reg_noconfirm"></span><!--registerStatus-->
                            <!--<span id="statustext">Connecting to Facebook...</span>
                            </div>-->
                            <div class="field_line register-email">
                                <!--<span class="large_field"
                                      data-win-bind="innerHTML: dataText.on_text_wait_body; style.display: showEvText Binding.Converter.toDisplay"></span><!--registerMessage
                                <span class="large_field"
                                      data-win-bind="innerHTML: dataText.off_text_wait_body; style.display: showOffText Binding.Converter.toDisplay"></span>-->
                            </div>
                            <div class="field_line_full register_button">
                                <div class="button-element" data-win-bind="style.display: showEvText Binding.Converter.toDisplay">
                                    <div id="resendButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickResend', event)"
                                         data-win-bind="disabled: resendDisabled; title: dataText.on_text_button_resend_tooltip">
                                        <span data-win-bind="textContent: dataText.on_text_button_resend_text"></span>
                                    </div>
                                    <div id="editButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickEdit', event)"
                                         data-win-bind="disabled: editDisabled; title: dataText.on_text_button_edit_tooltip">
                                        <span data-win-bind="textContent: dataText.on_text_button_edit_text"></span>
                                    </div>
                                </div>
                                <div class="button-element" data-win-bind="style.display: showOffText Binding.Converter.toDisplay">
                                    <div id="resendButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickResend', event)"
                                         data-win-bind="disabled: resendDisabled; title: dataText.off_text_button_resend_tooltip">
                                        <span data-win-bind="textContent: dataText.off_text_button_resend_text"></span>
                                    </div>
                                    <div id="editButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickEdit', event)"
                                         data-win-bind="disabled: editDisabled; title: dataText.off_text_button_edit_tooltip">
                                        <span data-win-bind="textContent: dataText.off_text_button_edit_text"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="field_line_full register_button">
                                <div class="button_line">
                                    <div class="button-element">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reRegisterEvent-mail-container" data-win-bind="style.display: showReRegisterEventMail Binding.Converter.toDisplay">
                            <div class="field_line register-email">
                                <span class="large_field"
                                      data-win-bind="textContent: dataRegister.Email; style.fontWeight: dataRegister.Email Binding.Converter.toBold"></span><!--registerMessage-->
                            </div>
                            <div class="field_line_full register_button">
                                <div class="button-element" data-win-bind="style.display: showEvText Binding.Converter.toDisplay">
                                    <div id="resendButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickChangeEvent', event)"
                                         data-win-bind="disabled: resendDisabled; title: dataText.on_text_button_resend_tooltip">
                                        <span data-win-res="{textContent: 'register.re_registerEvent'}"></span>
                                    </div>
                                    <div id="editButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickEdit', event)"
                                         data-win-bind="disabled: editDisabled; title: dataText.on_text_button_edit_tooltip">
                                        <span data-win-bind="textContent: dataText.on_text_button_edit_text"></span>
                                    </div>
                                </div>
                                <div class="button-element" data-win-bind="style.display: showOffText Binding.Converter.toDisplay">
                                    <div id="resendButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickChangeEvent', event)"
                                         data-win-bind="disabled: resendDisabled; title: dataText.off_text_button_resend_tooltip">
                                        <span data-win-res="{textContent: 'register.re_registerEvent'}"></span>
                                    </div>
                                    <div id="editButton"
                                         class="win-link"
                                         onclick="AppBar.handleEvent('click', 'clickEdit', event)"
                                         data-win-bind="disabled: editDisabled; title: dataText.off_text_button_edit_tooltip">
                                        <span data-win-bind="textContent: dataText.off_text_button_edit_text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>