/* styles theme for customizations */

/********Start Fonts for MP*********/
@font-face {
    font-family: "Symbols";
    src: url(../../../lib/WinJS/fonts/Symbols.woff2) format("woff2"), 
         url(../../../lib/WinJS/fonts/Symbols.woff) format("woff"), 
         url(../../../lib/WinJS/fonts/Symbols.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/BarlowSemiCondensed-SemiBold.woff2) format("woff2"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.woff) format("woff"), 
         url(../fonts/Raleway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}


:root {
    --max-content-margin-left: 0 !important;
    --max-content-width: 1410px;
    --max-content-width-surface: 1460px !important;
    --font-family-default: 'Raleway';
    --box-shadow-popup: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-popup-lifted: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-button: none;
    --outline-focus: none;
}

:root{
    --the7-accent-bg-color: #dcdc3e;
    --the7-accent-color: #dcdc3e;
    --the7-additional-logo-elements-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    --the7-additional-logo-elements-font-size: 20px;
    --the7-additional-logo-elements-icon-size: 0px;
    --the7-additional-menu-elements-color: #006b8a;
    --the7-additional-menu-elements-font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
    --the7-additional-menu-elements-font-size: 20px;
    --the7-additional-menu-elements-font-weight: 500;
    --the7-additional-menu-elements-icon-color: #006b8a;
    --the7-additional-menu-elements-icon-size: 16px;
    --the7-base-border-radius: 1px;
    --the7-base-color: #333333;
    --the7-base-font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
    --the7-base-font-size: 14px;
    --the7-base-font-weight: 500;
    --the7-base-line-height: 20px;
    --the7-beautiful-loading-bg: #ffffff;
    --the7-beautiful-spinner-color: rgba(51,51,51,0.3);
    --the7-big-button-border-radius: 1px;
    --the7-body-bg-color: #006b8a;
    --the7-body-bg-image: none;
    --the7-body-bg-position-x: left;
    --the7-body-bg-position-y: top;
    --the7-body-bg-repeat: repeat;
    --the7-body-bg-size: auto;
    --the7-border-radius-size: 1px;
    --the7-bottom-bar-bottom-padding: 10px;
    --the7-bottom-bar-height: 40px;
    --the7-bottom-bar-line-size: 1px;
    --the7-bottom-bar-menu-switch: 778px;
    --the7-bottom-bar-switch: 990px;
    --the7-bottom-bar-top-padding: 10px;
    --the7-bottom-bg-color: #006b8a;
    --the7-bottom-bg-image: none;
    --the7-bottom-bg-position-x: center;
    --the7-bottom-bg-position-y: top;
    --the7-bottom-bg-repeat: repeat;
    --the7-bottom-color: #ffffff;
    --the7-bottom-content-padding: 0px;
    --the7-bottom-input-border-width: 1px;
    --the7-bottom-input-padding: 5px;
    --the7-bottom-logo-bottom-padding: 10px;
    --the7-bottom-logo-left-padding: 0px;
    --the7-bottom-logo-right-padding: 15px;
    --the7-bottom-logo-top-padding: 10px;
    --the7-bottom-overlay-content-padding: 0px;
    --the7-box-width: 1340px;
    --the7-breadcrumbs-bg-color: rgba(255,255,255,0.2);
    --the7-breadcrumbs-border-color: rgba(130,36,227,0.2);
}
/****************img und #main von MP entfernen*******************/
.home #fancy-header, .events #fancy-header, .event #fancy-header {
    display: none !important;
}

.home #main, .events #main, .event #main {
    padding-top: 20px !important;
    display: none !important;
}
/********************ENDE #main von MP entfernen************************/
.home .win-type-title,
.home .win-type-subtitle,
.home .win-type-body,
.home .win-type-caption,
.events .win-type-title,
.events .win-type-subtitle,
.events .win-type-body,
.events .win-type-caption,
.event .win-type-title,
.event .win-type-subtitle,
.event .win-type-body,
.event .win-h1,
.event .win-h2,
.event .win-h3,
.event .win-h5,
.event .win-tooltip,
.event .win-type-caption,
.event .caption-field,
.event .content-header {
    font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

.register .win-type-body,
.register .win-type-title,
.register .win-link,
.register .win-container,
.register .win-textbox,
.register .field_line,
.register .field_line_odd,
.register .field_line_full,
.register .label,
.register .checkbox {
    font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 25px !important;
}

.countdown .win-type-body,
.countdown .field_line_full,
.countdown .win-h3,
.countdown .win-h4,
.countdown .win-h5 {
    font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

.home .win-type-body, .events .win-type-body, .event .win-type-body {
    font-size: 15px !important;
    line-height: 25px !important;
    color: #333333 !important;
}

.home .content-header-line > span, .events .content-header-line > span,
.event .content-header-line > span {
    font-size: 15px !important;
    line-height: 25px !important;
}

.home .content-header-line > h1,
.events .content-header-line > h1,
.event .content-header-line > h1 {
    font-size: 30px !important;
    line-height: 36px !important;
    font-weight: 600 !important;
}

.home .win-type-subtitle, .events .win-type-subtitle,
.events .win-h2, .events .win-h3,
.event .win-h2, .event .win-h3 {
    font-size: 18px !important;
    line-height: 30px !important;
}

.home .content-header-line > h2,
.events .content-header-line > h2 {
    font-size: 24px !important;
    line-height: 48px !important;
}

.home .event-item .event-title,
.events .event-item .event-title {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #006b8a !important;
}

.home .event-item .event-subtitle,
.events .event-item .event-subtitle {
    font-size: 15px !important;
    line-height: 20px !important;
    color: #006b8a !important;
    padding-bottom: 5px !important;
}

.home .event-item .event-comment,
.events .event-item .event-comment {
    font-size: 15px !important;
    line-height: 1.3 !important;
}

.event .ev-text {
    font-size: 15px !important;
    line-height: 25px !important;
    font-weight: 500 !important;
}

.home .win-listview .win-vertical .win-footercontainer,
.home .win-listview .win-vertical .win-headercontainer {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    /*margin-left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    padding: 15px;*/
}

.home .win-headercontainer .content-header {
    width: 60% !important;
    margin: 0 30% 0 3% !important;
}

.home .content-header,
.event .content-header {
    width: calc(100% - 70px - 70px) !important;
    margin: 0 auto !important;
}

.events .content-header {
    width: calc(100% - 11%) !important;
    margin: 0 auto !important;
}

.event .content-container,
.event .speakerblock {
    width: calc(100% - 70px - 70px) !important;
    margin: 0 auto !important;
}

.event .section-1 > .content-header {
    width: auto !important;
    height: auto;
}

.event .speakerblock > .content-header {
    width: calc(100% - 70px - 70px) !important;
}


.home .hero-image-container {
    margin-bottom: 25px !important;
}

.home .win-listview .win-vertical .win-gridlayout.win-structuralnodes .win-uniformgridlayout.win-itemscontainer.win-laidout,
.events .win-listview .win-vertical .win-gridlayout.win-structuralnodes .win-uniformgridlayout.win-itemscontainer.win-laidout {
    max-width: calc(1300px - 50px - 50px) !important;
    margin: 0 auto !important;
}

.event .content-header-line {
    margin: 0 !important;
}

.home .list-footer {
    margin-top: 65px;
    padding: 0;
    margin-bottom: 0;
}

.events .list-footer {
    margin-top: 65px;
}

.event .hero-footer {
    margin-top: 65px;
}

.events .win-listview .win-vertical .win-footercontainer,
.events .win-listview .win-vertical .win-headercontainer {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.event .hero-header {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.event .content-header {
    margin: 15px 0;
}

.events button.win-button,
.events button.win-button:focus,
.event button.win-button,
.event button.win-button:focus {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-style: none;
}

.events button#homeButton {
    position: sticky !important;
    left: 5.5% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 14px 26px;
    color: #ffffff;
    background-color: #006b8a;
}

.event button#homeButton {
    position: sticky !important;
    left: 5.5% !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
    padding: 14px 26px;
    background-color: #006b8a;
}

.event button .win-type-title {
    color: #ffffff;
}

.events .button-tip .win-tooltip,
.event .button-tip .win-tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: fit-content !important;
    max-width: fit-content !important;
    max-width: -moz-fit-content !important;
    width: -moz-fit-content !important;
    text-align: center;
    left: 90px;
    top: 0;
    color: #006b8a;
    background-color: #f2f2f2;
    border-color: var(--the7-additional-menu-elements-color, #006b8a);
    border-radius: 0 !important;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    z-index: 99;
    word-wrap: break-word;
    white-space: normal !important;
}

.event .share-block .win-tooltip {
    visibility: hidden;
    position: relative;
    opacity: 0;
    width: 200px;
    text-align: center;
    left: 0;
    top: 100%;
    color: #fff;
    background: var(--the7-additional-menu-elements-color, #006b8a);
    border-color: var(--the7-additional-menu-elements-color, #006b8a);
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.event .caption-field {
    color: #006b8a;
    line-height: 20px !important;
    font-size: 16px !important;
}

.event .section-4 .caption-field {
    color: #006b8a;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) {
    border-color: var(--the7-additional-menu-elements-color, #006b8a);
    background-color: #006b8a !important;
    border-radius: 0 !important;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) .win-type-title {
    color: #ffffff;
}

.register #loginButton, .register #re_registerEvent {
    border-radius: 0 !important;
    border-style: solid;
    border-width: 2px;
    border-color: var(--the7-additional-menu-elements-color, #006b8a);
    background-color: var(--the7-additional-menu-elements-color, #006b8a);
}

.register #loginButton > div > span, .register #re_registerEvent > span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
}

.text-lightcolor.win-button {
    background-color: #ffffff;
    cursor: pointer;
}

.text-lightcolor.win-button:disabled {
    background-color: #ffffff;
    cursor: default;
}

.countdown .countdown-line {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-radius: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, box-shadow 0.3s;
    -webkit-transition: background 0.3s, border 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, border 0.3s, box-shadow 0.3s;
}

.countdown .count-block {
    background-color: #ffffff;
}

.countdown .win-h3 {
    color: var(--the7-additional-menu-elements-color, #006b8a);
    font-size: 24px;
}

.countdown .win-h5 {
    color: #333333;
    font-size: 16px;
}

.body-content-bottom {
    visibility: hidden;
}
.body-content-bottom section:not(.elementor-inner-section) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    position: absolute !important;
    padding: 0 15px !important;
}
.body-content-bottom section:not(.elementor-inner-section) > div {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.view-size-biggest .body-content-bottom section:not(.elementor-inner-section) {
    left: 20px !important;
    width: calc(100% - 70px) !important;


}
.view-size-medium .body-content-bottom section:not(.elementor-inner-section) {
    left: 5px !important;
    width: calc(100% - 30px) !important;
    padding: 0 10px !important;
}
.view-size-small .body-content-bottom section:not(.elementor-inner-section) {
    left: 0 !important;
    width: calc(100% - 20px) !important;
}

section.elementor-inner-section > div {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.home .contentarea, .events .contentarea {
    background-color: #f2f2f2;
}

.win-type-body {
    color: var(--e-global-color-text, #333333);
}
.caption-field {
    color: var(--the7-accent-color, #dcdc3e);
}
.sticky-scrolled .sticky-header-pinned-fixed {
    background-color: Window;
}

.win-button {
    cursor: pointer;
}

.text-lightcolor.win-button {
    background-color: Window;
}

.text-lightcolor.win-button:disabled {
    color: var(--the7-additional-menu-elements-color, #006b8a);
    cursor: default;
}

.event .contentarea {
    background-color: #f2f2f2 !important;
}

.event .color_container2{
    background-color: transparent !important;
}

.event .color_container4 {
    background-color: #ffffff;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1299px 
    @media (max-width:1299px) {
    }

    use: .view-size-biggest
*/
.view-size-biggest .home .win-listview .win-vertical .win-headercontainer {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.view-size-biggest .home .win-headercontainer > .content-header {
    width: 60% !important;
    margin: 0 30% 0 10% !important;
}


.view-size-biggest .home .content-header,
.view-size-biggest .events .content-header,
.view-size-biggest .event .content-header {
    max-width: calc(1300px - 50px - 50px) !important;
    margin: 0 auto !important;
    width: calc(1300px - 50px - 50px) !important;
}

.view-size-biggest .events .win-listview .win-vertical .win-footercontainer,
.view-size-biggest .events .win-listview .win-vertical .win-headercontainer {
    margin-left: 0 !important;
    width: 100% !important;
}

.view-size-biggest .events .content-header-line {
    width: calc(100% - 52px);
}

.view-size-biggest .event .hero-header {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.view-size-biggest .event .content-container,
.view-size-biggest .event .speakerblock {
    margin-left: 20px;
    width: calc(100% - 70px -70px) !important;
    padding: 15px !important;

}
/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1099px 
    @media (max-width:1099px) {
    }

    use: .view-size-bigger
*/
.view-size-bigger .home .content-header,
.view-size-bigger .events .content-header,
.view-size-bigger .event .content-header {
    width: calc(100% - 50px - 50px) !important;
    margin: 0 auto !important;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
    @media (max-width:899px) {
    }

    use: .view-size-medium
*/

.view-size-medium .home .content-header-line,
.view-size-medium .events .content-header-line,
.view-size-medium .event .content-header-line {
    width: 100%;
}

.view-size-medium .home .content-header,
.view-size-medium .events .content-header,
.view-size-medium .event .content-header {
    width: calc(100% - 50px - 50px) !important;
    margin: 0 auto !important;
}

.view-size-medium .events button#homeButton,
.view-size-medium .event button#homeButton {
    margin-left: 0 !important;
    left: 3% !important;
}

.view-size-medium .event .content-container,
.view-size-medium .event .speakerblock {
    margin-left: 5px !important;
    width: calc(100% - 30px) !important;
    padding: 10px !important;
}
/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/
.view-size-medium-small .home .content-header,
.view-size-medium-small .events .content-header,
.view-size-medium-small .event .content-header {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 auto !important;
}



/*margins/paddings for small screens and orientation vertical
        @media (max-width:499px) {
        }
    use: .view-size-small
*/
.view-size-small .home .content-header,
.view-size-small .events .content-header,
.view-size-small .event .content-header {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 auto !important;
}

.view-size-small .event .content-container,
.view-size-small .event .speakerblock {
    margin-left: 0;
    width: calc(100% - 20px);
}

