/* styles theme for customizations */

/********Start Fonts for MP*********/
@font-face {
    font-family: "Symbols";
    src: url(../../../lib/WinJS/fonts/Symbols.woff2) format("woff2"), 
         url(../../../lib/WinJS/fonts/Symbols.woff) format("woff"), 
         url(../../../lib/WinJS/fonts/Symbols.ttf) format("truetype");
}

/*@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}*/

@font-face {
    font-family: "Helvetica";
    src: url(../fonts/Hlcr____.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}


:root {
    /***new vars***/
    --max-content-margin-left: calc(50% - 700px) !important;
    --max-content-width: 1400px !important; /*calc(1300px - 50px - 50px) !important;*/
    --max-content-width-surface: 1400px !important; /*calc(1300px - 50px - 50px) !important;*/
    --font-family-default: "Helvetica", Helvetica, Arial, Verdana, sans-serif !important;
    --box-shadow-popup: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-popup-lifted: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-button: none;
    --outline-focus: none;
    
}

:root {
    --e-global-color-primary: #006B8A;
    --e-global-color-secondary: #DCDC3E;
    --e-global-color-text: #333333;
    --e-global-color-accent: #DCDC3E;
    --e-global-color-text: #333333;
    --e-global-color-buttontext: #ffffff;
    --e-global-color-accent: #006b8a !important;
    --the7-additional-menu-elements-color: #ffffff !important; /*#006b8a !important;*/
    --the7-accent-color: #dcdc3e !important;
    --the7-accent-bg-color: #dcdc3e !important;
    --the7-background-color: #eeeeee;
    --e-global-typography-primary-font-family: "Helvetica";
    --e-global-typography-primary-font-size: 18px;
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Helvetica";
    --e-global-typography-text-font-size: 18px;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-text-line-height: 160%;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-73a9cb8-font-family: "Helvetica";
    --e-global-typography-73a9cb8-font-size: 82px;
    --e-global-typography-73a9cb8-font-weight: 700;
    --e-global-typography-73a9cb8-line-height: 115%;
    --e-global-typography-73a9cb8-letter-spacing: 0.82px;
    --e-global-typography-d990e6c-font-family: "Helvetica";
    --e-global-typography-d990e6c-font-size: 42px;
    --e-global-typography-d990e6c-font-weight: 500;
    --e-global-typography-d990e6c-line-height: 120%;
    --e-global-typography-1317078-font-size: 24px;
    --e-global-typography-1317078-font-weight: 400;
    --e-global-typography-1317078-line-height: 140%;
    --e-global-typography-4fdefc3-font-size: 22px;
    --e-global-typography-4fdefc3-font-weight: 700;
    --e-global-typography-4fdefc3-text-transform: none;
    --e-global-typography-4fdefc3-font-style: normal;
    --e-global-typography-4fdefc3-line-height: 120%;
    --e-global-typography-8dd2c1e-font-family: "Helvetica";
    --e-global-typography-8dd2c1e-font-size: 18px;
    --e-global-typography-8dd2c1e-font-weight: 400;
    --e-global-typography-8dd2c1e-text-transform: none;
    --e-global-typography-8dd2c1e-line-height: 160%;
    --e-global-typography-fe7e3cd-font-family: "Helvetica";
    --e-global-typography-fe7e3cd-font-size: 24px;
    --e-global-typography-fe7e3cd-font-weight: 400;
    --e-global-typography-fe7e3cd-line-height: 170;
    --e-global-typography-531f646-font-family: "Helvetica";
    --e-global-typography-531f646-font-size: 14px;
    --e-global-typography-531f646-font-weight: 400;
    --e-global-typography-531f646-line-height: 160%;
    --e-global-typography-531f646-letter-spacing: 0.14px;
    --e-global-typography-1ff88cb-font-family: "Helvetica";
    --e-global-typography-1ff88cb-font-size: 16px;
    --e-global-typography-1ff88cb-font-weight: 400;
    --e-global-typography-1ff88cb-line-height: 160%;
    --e-global-typography-a0c44a6-font-family: "Helvetica";
    --e-global-typography-a0c44a6-font-size: 16px;
    --e-global-typography-a0c44a6-font-weight: 700;
    --e-global-typography-a0c44a6-text-transform: uppercase;
    --e-global-typography-a0c44a6-line-height: 120%;
    --e-global-typography-a0c44a6-letter-spacing: 0.48px;
    --e-global-typography-2401bc8-font-size: 14px;
    --e-global-typography-2401bc8-font-weight: 700;
    --e-global-typography-2401bc8-line-height: 120%;
    --e-global-typography-2401bc8-letter-spacing: 0.28px;
}
/****************img und #main von MP entfernen*******************/
.home #fancy-header, .events #fancy-header, .event #fancy-header {
    display: none !important;
}

.home #main, .events #main, .event #main, .speakerSession #main, .modSession #main {
    padding-top: 20px !important;
    display: none !important;
}
/********************ENDE #main von MP entfernen************************/
/************ Remove border for new MP webpage *******************/
.home .win-listview .win-groupheadercontainer:not(.group-collapsed) {
    border: none !important;
}

.home .win-listview .win-vertical .win-itemscontainer:not(.group-collapsed) {
    border: none !important;
}

.home .win-listview .win-groupheadercontainer {
    border-color: transparent !important;
}
/*************ENDE Remove border for new MP webpage***************/
/************ Change border for itemboxes new MP webpage *******************/
.home .win-listview .win-gridlayout .win-container {
    background-color: transparent !important;
    border: 2px solid var(--e-global-color-primary) !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
/************ENDE Change border for itemboxes new MP webpage ***************/
/************Change bg new MP webpage ***************/
.home #events.listview, .events #events.listview, .event .color_container2 {
    background-color: var(--the7-accent-bg-color, #dcdc3e) !important;
}

.home .win-headercontainer,
.events .top-header {
    background-color: var(--the7-additional-menu-elements-color, #ffffff) !important;
}

.home .list-header {
    margin-bottom: 60px;
    padding: 0 0 20px 0 !important;
}

.home .list-footer {
    padding: 30px 0 0 0 !important;
    margin-bottom: 0 !important;
}

.home .win-headercontainer,
.events .top-header {
    background-image: url("../img/Line.svg");
    background-repeat: repeat-x;
    background-position: left bottom;
}

.event .color_container2 {
    background-image: url("../img/Line.svg");
    background-repeat: repeat-x;
    background-position: left top;
}

.home .win-listview .win-itembox {
    background-color: transparent !important;
}

html.win-hoverable .win-selectionstylefilled .win-container:hover .win-itembox {
    background-color: transparent !important;
}
/************ENDE Change bg new MP webpage ***************/
/***********FONT for MP***********/
.home .win-type-title,
.home .win-type-subtitle,
.home .win-type-body,
.home .win-type-caption,
.events .win-type-title,
.events .win-type-subtitle,
.events .win-type-body,
.events .win-type-caption,
.event .win-type-title,
.event .win-type-subtitle,
.event .win-type-body,
.event .win-h1,
.event .win-h2,
.event .win-h3,
.event .win-h5,
.event .win-tooltip,
.event .win-type-caption,
.event .caption-field,
.event .content-header,
.speakerSession .win-type-title,
.speakerSession .win-type-subtitle,
.speakerSession .win-type-body,
.speakerSession .win-h1,
.speakerSession .win-h2,
.speakerSession .win-h3,
.speakerSession .win-h5,
.speakerSession .win-tooltip,
.speakerSession .win-type-caption,
.speakerSession .caption-field,
.speakerSession .content-header,
.modSession .win-type-title,
.modSession .win-type-subtitle,
.modSession .win-type-body,
.modSession .win-h1,
.modSession .win-h2,
.modSession .win-h3,
.modSession .win-h5,
.modSession .win-tooltip,
.modSession .win-type-caption,
.modSession .caption-field,
.modSession .content-header {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-accent, #006b8a) !important;
}

.register .win-type-body,
.register .win-type-title,
.register .win-link,
.register .win-container,
.register .win-textbox,
.register .field_line,
.register .field_line_odd,
.register .field_line_full,
.register .label,
.register .checkbox,
.register .mandatory {
    font-family: var(--font-family-default) !important;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 160% !important;
    color: var(--e-global-color-primary) !important;
}

::placeholder,
::-ms-input-placeholder,
::-webkit-input-placeholder {
    color: var(--e-global-color-primary, #006b8a) !important;
}

.countdown .win-type-body,
.countdown .field_line_full,
.countdown .win-h3,
.countdown .win-h4,
.countdown .win-h5 {
    font-family: var(--font-family-default) !important;
    font-weight: 500 !important;
}

.home .win-type-body,
.events .win-type-body,
.event .win-type-body,
.modSession .win-type-body,
.speakerSession .win-type-body {
    color: var(--e-global-color-accent, #006b8a) !important;
    font-family: var(--font-family-default);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}

.teaser .centerarea {
    background-color: var(--the7-accent-color, #dcdc3e) !important;
}

.home .content-header, .events .top-header {
    margin: 0 auto !important;
    max-width: 1400px !important;
    padding-bottom: 0 !important;
    width: calc(100% - 30px - 30px) !important;
}

.event .content-grid,
.modSession .content-grid,
.speakerSession .content-grid {
    width: var(--max-content-width) !important;
    margin-left: var(--max-content-margin-left) !important;
    padding: 10px !important;
}

.event .content-header,
.modSession .content-header,
.speakerSession .content-header{
    margin: 15px 20px 0 0 !important;
    padding: 5px 15px 0 0 !important;
}

.event .contentarea {
    background-color: transparent !important;
}

.event .calenderButton,
.event .homeButton {
    color: var(--e-global-color-primary) !important;
    font-family: var(--font-family-default) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important; /* 19.2px */
    letter-spacing: 0.48px !important;
    text-transform: uppercase !important;
}

.event button .win-type-title,
.modSession button .win-type-title,
.speakerSession button .win-type-title {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary) !important;
}

.event .teaser-fragmenthost {
    margin-right: 20px !important;
    margin-left: 0 !important;
    padding: 15px 15px 0 0 !important;
}

.home .win-listview.win-groups .win-vertical .win-gridlayout .win-groupleader {
    width: 100% !important;
}

.home .content-header-line > span,
.events .content-header-line > span,
.event .content-header-line > span {
    font-family: var(--e-global-typography-8dd2c1e-font-family) !important;
    color: var(--e-global-color-primary) !important;
    font-size: var(--e-global-typography-8dd2c1e-font-size) !important;
    font-style: normal !important;
    font-weight: var(--e-global-typography-8dd2c1e-font-weight) !important;
    line-height: var(--e-global-typography-8dd2c1e-line-height) !important; /* 28.8px */
    text-transform: var(--e-global-typography-8dd2c1e-text-transform) !important;
}

.home .content-header-line > h1,
.events .content-header-line > h1,
.event .content-header-line > h1,
.modSession .content-header-line > h1,
.speakerSession .content-header-line > h1 {
    font-family: var(--e-global-typography-73a9cb8-font-family ), Sans-serif !important;
    font-size: var(--e-global-typography-73a9cb8-font-size ) !important;
    font-weight: var(--e-global-typography-73a9cb8-font-weight ) !important;
    line-height: var(--e-global-typography-73a9cb8-line-height ) !important;
    letter-spacing: var(--e-global-typography-73a9cb8-letter-spacing ) !important;
    word-spacing: var(--e-global-typography-73a9cb8-word-spacing ) !important;
    margin-top: 20px !important;
}

.home .win-type-subtitle, .events .win-type-subtitle,
.events .win-h2, .events .win-h3,
.event .win-h2, .event .win-h3,
.modSession .win-h2, .modSession .win-h3,
.speakerSession .win-h2, .speakerSession .win-h3 {
    font-family: var(--e-global-typography-d990e6c-font-family) !important;
    font-size: 18px !important;
    line-height: 30px !important;
    --e-global-typography-d990e6c-font-family: "Helvetica";
    
}

.home .content-header-line > h2,
.events .content-header-line > h2 {
    font-family: var(--e-global-typography-d990e6c-font-family) !important;
    font-size: var(--e-global-typography-d990e6c-font-size) !important;
    font-style: normal !important;
    font-weight: var(--e-global-typography-d990e6c-font-weight) !important;
    line-height: var(--e-global-typography-d990e6c-line-height) !important; /* 48px */
    text-transform: none !important;
}

.event .content-header-line > .win-h2,
.modSession .content-header-line > .win-h2,
.speakerSession .content-header-line > .win-h2 {
    font-family: var(--font-family-default) !important;
    font-size: 14px !important;
    line-height: 14px !important;
    font-weight: 700 !important;
}

.home .event-item .event-title,
.events .event-item .event-title {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary, #006b8a) !important;
    padding: 20px 0 10px 0 !important;
    font-size: 22px !important;
    line-height: 120% !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

.home .event-item .event-subtitle,
.events .event-item .event-subtitle {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary, #006b8a) !important;
    padding-bottom: 5px !important;
    letter-spacing: 0.14px !important;
    padding: 5px 0 20px 0 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 160% !important; /* 22.4px */
    
}

.home .event-item .event-comment,
.events .event-item .event-comment {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary, #006b8a) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 160% !important; /* 25.6px */
}

.event .ev-text,
.modSession .ev-text,
.speakerSession .ev-text {
    font-family: var(--font-family-default) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 160% !important;
}

/*****Changes******/

.home .hero-image-container > img {
    height: auto !important;
}

.modSession .hero-header,
.speakerSession .hero-header {
    margin-left: 0 !important;
}

.event .hero-header,
.modSession .hero-header,
.speakerSession .hero-header {
    padding: 15px 0 !important;
}

.event .homeButton,
.modSession .homeButton,
.speakerSession .homeButton {
    margin-left: 0 !important;
    padding: 15px 0 !important;
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important; /* 19.2px */
    letter-spacing: 0.48px !important;
    text-transform: uppercase !important;
}

.event .logOff-container,
.modSession .logOff-container,
.speakerSession .logOff-container {
    margin-left: 0 !important;
    padding: 15px 0 !important;
    font-family: var(--font-family-default) !important;
}

.event .intersection {
    padding: 15px 15px 0 0 !important;
}

.home #more_Button {
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
    color: var(--e-global-color-buttontext);
}

.home .expander-button {
    border: 2px solid var(--e-global-color-primary, #006b8a) !important;
    font-family: var(--font-family-default) !important;
}

.home .expander-icon {
    color: var(--e-global-color-primary, #006b8a) !important;
}

.home .win-listview .win-vertical .win-footercontainer,
.home .win-listview .win-vertical .win-headercontainer,
.events .win-listview .win-vertical .win-headercontainer {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;

}

.home .win-listview .win-vertical .win-gridlayout.win-surface,
.events .win-listview .win-vertical .win-gridlayout.win-surface {
    margin-left: var(--max-content-margin-left) !important;
    max-width: var(--max-content-width-surface) !important;
    margin-top: 10px !important;
    width: calc(100% - 30px - 30px) !important;
}

/**************No  Left Margin/Border/Padding for event boxes new MP webpage************************/
.home .win-listview .win-groupheader {
    padding: 5px 0 0 0 !important;
    width: 100% !important;
}

.home .win-itemsblock, .events .win-itemsblock {
    margin-left: 0 !important;
}
/**************ENDE No Border for series new MP webpage************************/
.events .list-footer {
    margin-top: 65px;
}

.event .color_container4 {
    background-color: var(--the7-background-color, #eeeeee) !important;
}

.event .hero-footer {
    margin-top: 65px;
}

.event .register-fragmenthost {
    margin-top: 10% !important;
}

.events button#homeButton {
    font-family: var(--font-family-default) !important;
    position: sticky !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 14px 26px;
    color: var(--e-global-color-buttontext, #006b8a) !important;
    background-color: var(--the7-additional-menu-elements-color, #ffffff) !important;
}

.event button#homeButton,
.modSession button#homeButton,
.speakerSession button#homeButton {
    font-family: var(--font-family-default) !important;
    position: sticky !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
    padding: 14px 26px;
    color: var(--e-global-color-buttontext) !important;
    background-color: var(--the7-additional-menu-elements-color, #006b8a) !important;
}

.events .button-tip .win-tooltip,
.event .button-tip .win-tooltip,
.modSession .button-tip .win-tooltip,
.speakerSession .button-tip .win-tooltip {
    font-family: var(--font-family-default) !important;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: fit-content !important;
    max-width: fit-content !important;
    max-width: -moz-fit-content !important;
    width: -moz-fit-content !important;
    text-align: center;
    left: 90px;
    top: 0;
    color: var(--e-global-color-primary, #006b8a) !important;
    background-color: #f2f2f2;
    border-color: var(--e-global-color-primary, #006b8a);
    border-radius: 0 !important;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    z-index: 99;
    word-wrap: break-word;
    white-space: normal !important;
}

.event .share-block .win-tooltip,
.modSession .share-block .win-tooltip,
.speakerSession .share-block .win-tooltip {
    font-family: var(--font-family-default) !important;
    visibility: hidden;
    position: relative;
    opacity: 0;
    width: 200px;
    text-align: center;
    left: 0;
    top: 100%;
    color: #fff;
    background: var(--the7-additional-menu-elements-color);
    border-color: var(--e-global-color-primary, #006b8a);
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.event .caption-field,
.modSession .caption-field,
.speakerSession caption-field {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary, #006b8a) !important;
    line-height: 20px !important;
    font-size: 16px !important;
}

.event .section-3 {
    margin-left: 0 !important;
}

.event .section-4 .caption-field {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary, #006b8a) !important;
}

.event .homeButton,
.modSession .homeButton,
.speakerSession .homeButton {
    color: var(--e-global-color-accent, #006b8a) !important;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus),
.event button#homeButton:not(:hover):not(:active):not(:focus) {
    border-color: var(--e-global-color-accent, #006b8a) !important;
    background-color: transparent !important;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) .win-type-title,
.event button#homeButton:not(:hover):not(:active):not(:focus) .win-type-title {
    color: var(--e-global-color-buttontext) !important;
}

.event button#calenderButton:hover,
.event button#homeButton:hover {
    border-color: var(--e-global-color-accent, #006b8a) !important;
    background-color: transparent !important;
    cursor: pointer;
    border-radius: 40px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
}

.register .centerarea .field_line_full,
.register .centerarea .field_line_odd,
.register .centerarea .field_line_even {
    width: calc(100% - 20px) !important;
}

.register #loginButton, .register #re_registerEvent {
    border-style: solid;
    border-width: 2px;
    border-color: var(--e-global-color-primary, #006b8a) !important;
    background-color: var(--e-global-color-primary) !important;
}

.register #loginButton > div > span, .register #re_registerEvent > span {
    font-family: var(--font-family-default) !important;
    color: var(--the7-accent-color, #dcdc3e) !important;
    font-size: 16px !important;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120% /* 19.2px */ !important;
    letter-spacing: 0.48px;
}

.register .contentarea {
    background-color: var(--the7-accent-bg-color, #dcdc3e) !important;
    margin-top: 56% !important;
}

.centerarea.registerEmail {
    width: 99% !important;
    padding-top: 10px !important;
    background-color: transparent !important;
    border: 2px solid var(--e-global-color-primary) !important;
}

.register .register_title {
    display: none !important;
}

.register .input_field {
    background-color: transparent !important;
    width: inherit !important;
    border: 2px solid var(--e-global-color-primary) !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.event .logOff-container {
    float: none !important;
    height: auto;
    width: calc(1300px - 50px - 50px) !important;
    margin: 0 auto !important;
}

.event #logOffbutton .win-link {
    float: right !important;
}

.modSession .win-link, .speakerSession .win-link {
    color: var(--e-global-color-primary) !important;
}

.event .countdown-fragmenthost {
    position: relative !important;
    float: none !important;
    right: 0;
    margin: 0 auto !important;
}

.text-lightcolor.win-button {
    background-color: var(--e-global-color-buttontext);
    cursor: pointer;
}

.text-lightcolor.win-button:disabled {
    background-color: var(--e-global-color-buttontext);
    cursor: default;
}

.countdown .count-block {
    font-family: var(--font-family-default) !important;
    background-color: var(--e-global-color-buttontext);
}

.countdown .win-h3 {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary, #006b8a) !important;
    font-size: 24px !important;
}

.countdown .win-h5 {
    font-family: var(--font-family-default) !important;
    color: var(--e-global-color-primary) !important;
    font-size: 12px !important;
}

.countdown .count {
    font-family: var(--font-family-default) !important;
    padding-top: 20px !important;
}

.body-content-bottom {
    visibility: hidden;
}
.body-content-bottom section:not(.elementor-inner-section) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    position: absolute !important;
    padding: 0 15px !important;
}
.body-content-bottom section:not(.elementor-inner-section) > div {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.view-size-biggest .body-content-bottom section:not(.elementor-inner-section) {
    left: 20px !important;
    width: calc(100% - 70px) !important;


}
.view-size-medium .body-content-bottom section:not(.elementor-inner-section) {
    left: 5px !important;
    width: calc(100% - 30px) !important;
    padding: 0 10px !important;
}
.view-size-small .body-content-bottom section:not(.elementor-inner-section) {
    left: 0 !important;
    width: calc(100% - 20px) !important;
}

section.elementor-inner-section > div {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.win-type-body {
    color: var(--e-global-color-primary) !important;
}
.caption-field {
    color: var(--e-global-color-primary) !important;
}
.sticky-scrolled .sticky-header-pinned-fixed {
    background-color: Window;
}

.sticky-header-pinned-fixed {
    background-color: Window;
    inset-inline-start: initial !important;
    max-width: calc(100% - 15px) !important;
    width: calc(100% - 15px) !important;
}

.win-button {
    cursor: pointer;
}

.text-lightcolor.win-button {
    background-color: Window;
}

.text-lightcolor.win-button:disabled {
    color: var(--e-global-color-primary, #006b8a) !important;
    cursor: default;
}

/* conference: slide number selector */
.dafGPL select {
    min-width: 85px;
}

/**contentarea is more than 1460px**/
@media (min-width:1820px) {
    .body-content-top {
        width: 100%;
    }
}

/**contentarea is more than 1500px**/
@media (min-width: 1500px) {
    .event .section-3, .event .speakerblock {
        padding-left: 0 !important;
    }
}

/**margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1500px**/
@media (min-width: 1300px) and (max-width: 1499px) {

    .event .content-grid,
    .modSession .content-grid,
    .speakerSession .content-grid {
        width: calc(100% - 30px - 30px) !important;
        margin: 0 auto !important;
    }

    .event .hero-header, .event .intersection{
        margin-left: 0 !important;
    }
    .teaser .ITbackground {
        margin-left: 0 !important;
    }

    .event .section-3 {
        padding-left: 0 !important;
    }

}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1299px 
    @media (max-width:1299px) {
    }

    use: .view-size-biggest
*/


.view-size-biggest .home .win-listview .win-vertical .win-gridlayout.win-surface,
.view-size-biggest .events .win-listview .win-vertical .win-gridlayout.win-surface {
    max-width: var(--max-content-width-surface) !important;
    margin: 0 30px 0 30px !important;
    width: 100% !important;
}

.view-size-biggest .events .win-listview .win-vertical .win-footercontainer,
.view-size-biggest .events .win-listview .win-vertical .win-headercontainer {
    margin-left: 0 !important;
    width: 100% !important;
}

.view-size-biggest .modSession .hero-header,
.view-size-biggest .speakerSession .hero-header {
    margin-left: 0 !important;
}

.view-size-biggest .event .content-container,
.view-size-biggest .event .speakerblock {
    margin-left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    padding: 15px 0 !important;
}


/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1099px 
    @media (max-width:1099px) {
    }

    use: .view-size-bigger
*/
.view-size-bigger .speakerSession .content-grid,
.view-size-bigger .modSession .content-grid {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 25px !important;
}

.view-size-bigger .event .content-grid {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}


.view-size-bigger .event .homeButton {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 !important;
}
.view-size-bigger .home .content-header,
.view-size-bigger .events .content-header{
    width: calc(100% - 20px - 20px) !important;
    margin: 0 auto !important;
}

.view-size-bigger .event .content-header {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 !important;
}

.view-size-bigger .event .content-container,
.view-size-bigger .event .speakerblock {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 auto !important;
}

.view-size-bigger .countdown .count {
    padding-top: 25px !important;
}

.view-size-bigger .event .logOff-container {
    width: calc(100% - 20px - 20px) !important;
    margin-left: 0 !important;
}

.view-size-bigger .home .win-listview .win-vertical .win-gridlayout.win-surface,
.view-size-bigger .events .win-listview .win-vertical .win-gridlayout.win-surface {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 20px !important;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
    @media (max-width:899px) {
    }

    use: .view-size-medium
*/

.view-size-medium .home .win-listview .win-vertical .win-gridlayout .win-surface, view-size-medium .events .win-listview .win-vertical .win-gridlayout .win-surface {
    margin: 0 5px !important;
    width: calc(100% - 10px) !important;
}

.view-size-medium .home .hero-image-container,
.view-size-medium .events .hero-image-container {
    width: calc(100% - 20px - 20px) !important;
}
.view-size-medium .home .content-header-line,
.view-size-medium .events .content-header-line,
.view-size-medium .event .content-header-line {
    width: 100%;
}

.view-size-medium .home .content-header,
.view-size-medium .events .content-header {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 auto !important;
}

.view-size-medium .event .content-header {
    width: calc(100% - 20px - 20px) !important;
    margin: 0 !important;
}

.view-size-medium .home .group-header {
    width: 100% !important;
}

.view-size-medium .home .win-listview .win-groupheader {
    padding: 0 !important;
}

.view-size-medium .events button#homeButton,
.view-size-medium .event button#homeButton {
    margin-left: 0 !important;
    left: 3% !important;
}

.view-size-medium .event .content-container,
.view-size-medium .event .speakerblock {
    margin-left: 5px !important;
    width: calc(100% - 20px - 20px) !important;
    padding: 10px !important;
}

.view-size-medium .event .countdown-fragmenthost {
    margin: 0 !important;
}

.view-size-medium .countdown .field_line_full {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.view-size-medium .countdown .count {
    padding-top: 15px !important;
}

.view-size-medium .countdown .count-block {
    margin: 0 !important;
    padding: 0 !important;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/
.view-size-medium-small .home .content-header,
.view-size-medium-small .events .content-header,
.view-size-medium-small .event .content-header {
    width: calc(100% - 15px - 15px) !important;
    margin: 0 auto !important;
}

.view-size-medium-small .body-content-top {
    width: auto;
}

.view-size-medium-small .event .register-fragmenthost {
    margin-top: 10px !important;
}

.view-size-medium-small .register .contentarea {
    margin-top: 0 !important;
}

.view-size-medium-small .home .win-listview .win-vertical .win-gridlayout.win-surface,
.view-size-medium-small .events .win-listview .win-vertical .win-gridlayout.win-surface {
    width: calc(100% - 15px - 15px) !important;
    margin: 0 15px !important;
}


/*margins/paddings for small screens and orientation vertical
        @media (max-width:499px) {
        }
    use: .view-size-small
*/

.view-size-small .home .win-listview .win-groupheader {
    width: calc(100% - 70px) !important;
    padding: 0 !important;
}

.view-size-small .home .content-header,
.view-size-small .events .content-header,
.view-size-small .event .content-header {
    width: calc(100% - 15px - 15px) !important;
    margin: 0 auto !important;
}

.view-size-small .event .content-container,
.view-size-small .event .speakerblock {
    margin-left: 0;
    width: calc(100% - 20px);
}

.view-size-small .event .countdown-fragmenthost {
    grid-column: 1/span 6 !important;
    position: fixed !important;
}

.view-size-small .countdown .field_line_full {
    margin: 5px;
    padding: 5px;
}

.view-size-small .countdown .count-block {
    width: 13% !important;
}

.view-size-small .countdown .win-h5 {
    font-size: 10px !important;
}

.view-size-small .countdown .win-h3 {
    font-size: 20px !important;
}

.view-size-small .home .win-listview .win-vertical .win-gridlayout.win-surface,
.view-size-small .events .win-listview .win-vertical .win-gridlayout.win-surface {
    width: calc(100% - 15px - 15px) !important;
    margin: 0 15px !important;
}

