/*
    margins/paddings for all screens
*/
body .event  { color: #000000;}
.event .content-header { height: auto; margin: 10px 0; padding: 5px 0;}
.event .content-header-line { margin-top: 10px;}
.event .date-field { text-align: left; width: auto; display: inline-block; left: 0; top: 0;}
.event .content {margin:0 2%; display: flex;}
.event .section-1 { width: calc(100% - 320px); display: block;}
.event .section-2 { width: 320px; padding-left: 40px; position: relative; display: block;}
.teaser-fragmenthost, .register-fragmenthost, .countdown-fragmenthost, .conference-fragmenthost {border: solid 1px #000;}
.teaser-fragmenthost
{
    height: 300px;
    margin-top: 20px;
}

.register-fragmenthost {
    height: auto;
    margin-top: 20px;
}

.caption-field {top: 0; float: left; text-align: left;}
.caption-block { width: 20%; display: block;}

.share-block { color: #a4a4a4; border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; padding: 5px;}