/*
    margins/paddings for all screens

.event .contentarea {
    scroll-snap-type: y proximity;
}
*/
.event .win-type-title,
.event .win-type-subtitle,
.event .win-type-body,
.event .win-h1,
.event .win-h2,
.event .win-h3,
.event .win-h5,
.event .win-tooltip,
.event .win-type-caption,
.event .caption-field,
.event .content-header {
    font-family: "Barlow";
}

.event .bold {
    font-weight: 600;
}

.event .hero-header,
.event .content-container,
.event .speakerblock {
    margin-left: var(--max-content-margin-left);
    width: var(--max-content-width);
    padding: 15px;
}
.event .recordedContent-fragmenthost,
.event .conference-fragmenthost {
    width: auto;
    height: 400px;
    margin: 0;
/*    scroll-snap-align: end;
}
.event .content-container {
    scroll-snap-align: start;*/
}

.event .speakerblock {
    display: inline-block;
    margin-bottom: 20px;
}

.event .content-grid {
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
    grid-gap: 0;
}

.events .hero-image-container {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    max-height: 600px;
}

.event .hero-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event .content-header {
    height: auto;
    width: 100%;
}

.event .content-header-line {
    height: auto;
    width: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.event .win-h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 62px;
}

.event .win-h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
}

.event .win-type-body {
    font-size: 18px;
    line-height: 28px;
}

.event .win-type-caption {
    font-size: 18px;
    font-weight: 600;
}

.event .color_container2 {
    position: relative;
    z-index: -2;
    height: auto;
    width: 100%;
    top: 0;
}
.event .color_container4 {
    position: relative;
    z-index: -2;
    height: auto;
    width: 100%;
}
.event .win-h1, event .win-h3 {
    font-weight: 600;
}

.event .content-header {
    height: auto;
    width: auto;
    margin: 15px 0 0 0;
    padding: 5px 0;
    
}
.event .content-header-line {
     margin-top: 10px;
}
.event .date-field {
     text-align: left; width: auto; display: inline-block; left: 0; top: 0;
}

.event .custlogo {
    display: inline-block;
    position: relative;
    width: 20%;
    height: auto;
    margin: 15px 0;
    padding: 5px;
    text-align: center;
}

.event .logo {
    display: block;
    width: 100%;
    height: auto;
}

.event button.win-button,
.event button.win-button:focus {
    border-radius: 40px 40px 40px 40px;
    outline-style: none;
}
.event button#homeButton {
    /*padding: 14px 26px;*/
    padding: 14px 0px !important;
    color: inherit;
    border: none !important;
    background: none !important;
    text-align: left !important;
}

.event button .win-type-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) {
    background-color: Window;
}

.event .button-tip {
    position: relative;
    display: inline-block;
}

.event .button-tip .action-image {
    display: none !important;/*inline-block*/
    position: relative;
    top: 1px;
}

.event .button-tip .win-tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: fit-content;
    max-width: fit-content;
    max-width: -moz-fit-content;
    width: -moz-fit-content;
    text-align: center;
    right: -50px;
    top: 20px;
    text-transform: none;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    z-index: 99;
    word-wrap: break-word;
    white-space: normal;
}


.event .button-tip:hover .win-tooltip {
    visibility: visible;
    opacity: 1;
}


.event .section-1 {
    grid-column: 1/span 4;
}
.event .section-2 { grid-column: 5/span 2; grid-row: 1/6;}
.event .section-3 { grid-area: 2/1/span 3/span 4; padding-right: 10px;}
.event .section-4 { grid-area: 5/1/span 3/span 5;}

.speaker-lines-container {
    display: flex;
    flex-direction: row;
}

.event .speaker-line {
    flex: 50%;
    width: 50%;
    margin: 5px;
} /*display: inline-block; width: 100%; margin: 5px;*/
.event .speaker-image-container {
/*display: block;
    position: relative;*/
    float: left;
    width: 25%;
    height: auto;
    margin: 5px;
    padding: 5px;
}
.event .speaker-image-container > img {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}
.event .speaker-text { /*display: block; position: relative;*/ width: 60%; float: right; padding: 0 5px; }

.event .speaker-name, .event .speaker-vorname {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    display: block;
    margin: 0;
    padding: 5px 0;
}
.event .speaker-title, .event .speaker-link {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    display: block;
}

.event .speaker-cv {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    display: block;
}
.event .teaser-fragmenthost {
    height: auto;
    margin-top: 20px;
}

.event .register-fragmenthost {
    height: auto;
    margin-top: 20px;
}
.event .countdown-fragmenthost {
    position: absolute;
    float: right;
    right: 0;
    width: 30%;
    margin-right: 5%;
}
.event .maintenance-fragmenthost {
    height: auto;
    margin-top: 20px;
}

.event .share-block {
    text-align: left;
    width: 100%;
    box-sizing: content-box;
}

.event .share-block .win-tooltip {
    visibility: hidden;
    position: relative;
    opacity: 0;
    width: 200px;
    text-align: center;
    left: 0;
    top: 100%;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.event .share-block:hover .win-tooltip {
    visibility: visible; opacity: 1;
}

.event .caption-field {
    width: 100%; 
    text-align: left;
    top: 20px;
    font-size: 16px;
}
.event .caption-block {
     width: auto; display: block; padding-right: 10px; margin-right: 10px;
}

p.ev-text {
    white-space: pre-wrap;
    font-weight: 400;
}

.event .logOff-container,
.event.closeSession-container {
    float: right;
    height: auto;
    width: auto;
}


/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1299px 
    @media (max-width:1299px) {
    }

    use: .view-size-biggest
*/
    .view-size-biggest .event .hero-header, .view-size-biggest .event .content-container, .view-size-biggest .event .speakerblock {
    margin-left: 20px;
    width: calc(100% - 70px);
    padding: 15px;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1099px 
    @media (max-width:1099px) {
    }

    use: .view-size-bigger
*/
/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
    @media (max-width:899px) {
    }

    use: .view-size-medium
*/
.view-size-medium .event .hero-header,
.view-size-medium .event .content-container,
.view-size-medium .event .speakerblock {
    margin-left: 5px;
    width: calc(100% - 30px);
    padding: 10px;
}

.view-size-medium .event .speaker-lines-container {
    flex-direction: column;
}

.view-size-medium .event .speaker-line {
    width: 100%;
    flex: 100%;
}

.view-size-medium .event .win-h1 {
    font-size: 26px;
    line-height: 32px;
}

.view-size-medium .event .win-h2 {
    font-size: 22px;
    line-height: 26px;
}

.view-size-medium .event .win-type-body {
    font-size: 16px;
    line-height: 24px;
}

.view-size-medium .event .win-h3, 
.view-size-medium .event .win-h5 {
    font-size: 1.3em;
}

.view-size-medium .event .countdown-fragmenthost {
    position: relative;
    float: right;
    right: 0;
    width: 40%;
    margin-right: 10px;
}

.view-size-medium .event .color_container2 { height: auto;}
.view-size-medium .event .section-1 {
            grid-row: 1/span 1;
            grid-column: 1/span 6;
        }

.view-size-medium .event .section-2 {
            grid-row: 2/span 1;
            grid-column: 1/span 6;
        }

.view-size-medium .event .section-3 {
            grid-row: 3/span 1;
            grid-column: 1/span 6;
        }

.view-size-medium .event .section-4 {
    grid-row: 4/span 1;
    grid-column: 1/span 6;
}

.view-size-medium .event .speaker-text {
    width: 65%;
}


/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/

/*margins/paddings for small screens and orientation vertical
        @media (max-width:499px) {
        }
    use: .view-size-small
*/
.view-size-small .event .hero-header,
.view-size-small .event .content-container,
.view-size-small .event .speakerblock {
    margin-left: 0;
    width: calc(100% - 20px);
}

.view-size-small .event .content-header-line > h1 {
    font-size: 22px;
}

.view-size-small .event .content-header-line > h2 {
    font-size: 16px;
}

.view-size-small .event .countdown-fragmenthost {
    position: initial;
    left: 0;
    float: none;
    width: auto;
    margin-left: 10px;
}

.view-size-small .event .speaker-image-container {
    float: left;
    width: 100%;
}

.view-size-small .event .speaker-image-container > img {
    margin: 0;
}

.view-size-small .event .speaker-text {
    width: 100%;
}

.view-size-small .event .speaker-text > span {
    width: auto;
    margin: 0;
}
