#conferenceController .doc-container {
    width: 100%;
    float: none;
}

#conference.mediaview {
    width: calc(100% - 24px);
    height: calc(100% - 8px);
}

#conference.mediaview .dropZoneTop--A7khq,
#conference.mediaview .dropZoneBottom--ZYMK7J {
    max-height: 40px;
}

#conference.mediaview .navbar--Z2lHYbG {
    position: absolute !important;
    width: calc(100% - 16px);
}
#conference.mediaview .center--2pV1iJ {
    visibility: hidden;
}

#conference.mediaview .left--18SBXP, .right--Z4dKWq {
    z-index: 1;
}

/*#conference.mediaview .ghost--Z136aiN.default--Z19H5du:hover, #conference.mediaview .buttonWrapper--x8uow:hover .ghost--Z136aiN.default--Z19H5du*/
#conference.mediaview .ghost--Z136aiN {
    background-color: var(--btn-primary-bg) !important;
    box-shadow: 0 2px 5px 0 black !important;
    opacity: 0.8;
}

#conference.mediaview .ghost--Z136aiN.default--Z19H5du:hover, .ghost--Z136aiN.default--Z19H5du:active {
    background-color: var(--btn-primary-bg) !important;
    opacity: 1;
}

#conference.mediaview .media--Z1xJW08 {
    max-height: calc(100% - 100px);
    margin: 10px 0 !important;
}

#conference.mediaview .actionsbar--Z1ant6U {
    height: 64px !important;
}

/* hide logoff menu-item in options menu */
#conference.mediaview .scrollable--4fyj li.separator--Z1vmd5H {
    display: none;
}
#conference.mediaview .scrollable--4fyj li[aria-labelledby="dropdown-item-label-14"].item--yl1AH {
    display: none;
}

#conference.mediaview .speaking--Z2tUpzD > button {
    height: 22px !important;
    padding: 1px 10px !important;
}

#conference.mediaview .speaking--Z2tUpzD button > i {
    margin-top: 2px !important;
}

.video-overlay-fullwidth {
    width: calc(100% - 100px) !important;
    min-width: calc(100% - 100px) !important;
    max-width: calc(100% - 100px);
}

.video-overlay-left {
    display: block !important;
    position: absolute !important;
    left: 10px;
    width: 192px !important;
    height: calc(100% - 100px) !important;
}

.video-overlay-right {
    display: block !important;
    position: absolute !important;
    right: 30px;
    width: 192px !important;
    height: calc(100% - 100px) !important;
}

.video-overlay-top {
    display: block !important;
    position: absolute !important;
    top: 10px;
    width: calc(100% - 100px);
    height: 144px !important;
}

.video-list-vertical {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(auto-fill, 144px) !important;
    width: 192px !important;
    height: 100% !important;
}
