#conferenceController .doc-container {
    width: 100%;
    float: none;
}

#conference.mediaview {
    width: calc(100% - 24px);
    height: calc(100% - 8px);
}

/* protect button */
#conference.mediaview button, .portal--27FHYi button {
    font-size: var(--btn-sm-font-size) !important;
    padding: var(--btn-sm-padding) !important;
    border-radius: 2px !important;
}
#conference.mediaview .buttonWrapper--x8uow {
    padding: 0 !important;
}
#conference.mediaview .circle--Z2c8umk {
    --btn-sm-padding-x: calc(var(--sm-padding-x) / 2);
    --btn-md-padding-x: calc(var(--md-padding-x) / 2);
    --btn-lg-padding-x: calc(var(--lg-padding-x) / 2);
    --btn-jumbo-padding-x: calc(var(--jumbo-padding-x) / 2);
    border-radius: 50% !important;
}
#conference.mediaview .jumbo--Z12Rgj4 {
    font-size: var(--btn-jumbo-font-size) !important;
    padding: var(--btn-jumbo-padding) !important;
}
#conference.mediaview .circle--Z2c8umk.jumbo--Z12Rgj4 {
    padding: var(--btn-jumbo-padding-x) !important;
}

/* protect h2 */
#conference.mediaview h2 {
    color: inherit !important;
    font-size: 2rem !important;
    line-height: 1.2 !important;
}
#conference.mediaview .smallTitle--2wz4kP {
    font-size: 0.85rem !important;
    text-transform: uppercase !important;
    padding: 0 var(--sm-padding-x) !important;
    margin: 0 0 var(--lg-padding-x)/2 0 !important;
    color: var(--color-gray) !important;
}

/* buttons in top nav area */
#conference.mediaview .left--18SBXP, .right--Z4dKWq {
    z-index: 1;
}

#conference.mediaview .ghost--Z136aiN {
    background-color: var(--btn-primary-bg) !important;
    box-shadow: 0 2px 5px 0 black !important;
    opacity: 0.8;
}

#conference.mediaview .ghost--Z136aiN.default--Z19H5du:hover, .ghost--Z136aiN.default--Z19H5du:active {
    background-color: var(--btn-primary-bg) !important;
    opacity: 1;
}

#conference.mediaview .media--Z1xJW08 {
    max-width: calc(100% - 36px);
    max-height: calc(100% - 20px);
    margin: 10px !important;
}
#conference.mediaview .content--Z2gO9GE {
    max-height: calc(100% - 20px) !important;
}

#conference.mediaview .actionsbar--Z1ant6U {
    height: 64px !important;
}
:not(view-size-medium) #conference.mediaview .actionsbar--Z1ant6U {
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 480px);
    margin: 0 240px;
}
/* dragged video drop zone */
#conference.mediaview .dropZoneTop--A7khq,
#conference.mediaview .dropZoneBottom--ZYMK7J {
    max-height: 40px;
}

#conference.mediaview .navbar--Z2lHYbG {
    position: absolute !important;
    width: calc(100% - 16px);
}

/* hide event title */
#conference.mediaview .center--2pV1iJ {
    visibility: hidden;
}

/* width of presentation container */
#conference.mediaview .presentationContainer--1wqUYG:not(:fullscreen) {
    left: 50px;
    right: 50px;
}
#conference.mediaview .video-overlay-is-left .presentationContainer--1wqUYG:not(:fullscreen) {
    left: 200px;
}
#conference.mediaview .video-overlay-is-right .presentationContainer--1wqUYG:not(:fullscreen) {
    right: 200px;
}

/* hide logoff menu-item in options menu */
#conference.mediaview .scrollable--4fyj li.separator--Z1vmd5H {
    display: none;
}
#conference.mediaview .scrollable--4fyj li[aria-labelledby="dropdown-item-label-14"].item--yl1AH,
#conference.mediaview .scrollable--4fyj li[aria-labelledby="dropdown-item-label-15"].item--yl1AH {
    display: none;
}

/* speaking labels on top area */
#conference.mediaview .speaking--Z2tUpzD > button {
    height: 22px !important;
    padding: 1px 10px !important;
}

#conference.mediaview .speaking--Z2tUpzD button > i {
    margin-top: 2px !important;
}

#conference.mediaview .overlay--Arkp5 {
    width: 100% !important;
    height: 100% !important;
}

/* polling flyout */
#conference.mediaview .pollingContainer--1xRnAH {
    border: 1px solid var(--color-gray-lighter, #a7b3bd);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0,0,0);
    transition-property: box-shadow,transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    right: 30px;
    bottom: 90px;
}
#conference.mediaview .pollingContainer--1xRnAH:hover,
#conference.mediaview .pollingContainer--1xRnAH:focus {
    transform: translate3d(0,-2px,0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition-property: box-shadow,transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
}
#conference.mediaview .pollingContainer--1xRnAH button {
    background-color: var(--btn-primary-bg) !important;
    opacity: 0.8;
}
#conference.mediaview .pollingContainer--1xRnAH button:hover {
    background-color: var(--btn-primary-bg) !important;
    opacity: 1;
}

/* videoList overlay */
#conference.mediaview .video-overlay-fullwidth {
    width: calc(100% - 100px) !important;
    min-width: calc(100% - 100px) !important;
    max-width: calc(100% - 100px);
}

#conference.mediaview .video-overlay-left {
    display: block !important;
    position: absolute !important;
    left: 0;
    top: 40px;
    width: 192px !important;
    height: calc(100% - 40px) !important;
}

#conference.mediaview .video-overlay-right {
    display: block !important;
    position: absolute !important;
    right: 0;
    top: 40px;
    width: 192px !important;
    height: calc(100% - 40px) !important;
}

#conference.mediaview .video-overlay-top {
    display: block !important;
    position: absolute !important;
    top: 10px;
    width: calc(100% - 100px);
    height: 144px !important;
}

/* vertical video-list */
#conference.mediaview .video-list-vertical {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(auto-fill, 144px) !important;
    width: 192px !important;
    height: 100% !important;
}
#conference.mediaview .video-list-vertical.video-list-double-columns {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: repeat(auto-fill, 72px) !important;
    width: 192px !important;
    height: 100% !important;
}
