<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="conference.css" rel="stylesheet" />
    <style>
        .from-myself p {
            background-color: var(--color-blue-lightest);
        }
    </style>
    <script type="text/javascript" src="../../lib/floating/scripts/floating.js"></script>
    <script type="text/javascript" src="conferenceService.js"></script>
    <script type="text/javascript" src="conferenceController.js"></script>
    <script type="text/javascript" src="conference.js"></script>
</head>
<body class="win-type-body">
    <div class="conference fragment">
        <div id="conferenceController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <div class="doc-container">
                        <div id="conference" class="mediaview"></div>
                        <div class="pane-tools"
                             data-win-bind="style.display: showPaneTools Binding.Converter.toDisplay">
                            <div class="unpinned-video-list-header">
                                <div class="unpinned-video-list-title">
                                    <h2 data-win-res="{textContent: 'modSession.unpinnedVideos'}"></h2>
                                </div>
                            </div>
                            <div class="video-list-template"
                                 data-win-control="WinJS.Binding.Template" style="display: none">
                                <div data-win-bind="className: videoListItemClassName; name: key; style.display: enabled Binding.Converter.toDisplay">
                                    <video class="video-item" data-win-bind="srcObject: mediaStream" autoplay playsinline disablePictureInPicture></video>
                                    <div class="video-label">
                                        <span data-win-bind="textContent: userName"></span>
                                        <i data-win-bind="innerHTML: myselfLabel; style.display: myselfLabel Binding.Converter.toDisplay"></i>
                                    </div>
                                    <button class="win-button video-item-button"
                                            onclick="AppBar.handleEvent('click', 'clickPinVideoButton', event)">
                                        <span class="pin"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="unpinned-video-list-container"
                                 data-win-bind="style.display: showUnpinnedVideoList Binding.Converter.toDisplay">
                                <div id="unpinnedVideos"
                                     class="listview"
                                     data-win-control="WinJS.UI.ListView"
                                     data-win-options="{selectionMode: 'none',
                                            tapBehavior: 'none',
                                            header: select('.unpinned-video.list-header'),
                                            layout : {type: WinJS.UI.GridLayout, orientation: WinJS.UI.Orientation.vertical},
                                            itemTemplate: select('.video-list-template')}"></div>
                            </div>
                            <div class="presenter-button-container"
                                 data-win-bind="style.display: showPresenterButtons Binding.Converter.toDisplay">
                                <button id="presenterModeTiled" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickPresenterMode', event)"
                                        data-win-bind="ariaChecked: presenterModeTiled">
                                    <div class="button-tip">
                                        <div class="presenter-mode-image" id="presenter_mode_tiled"></div>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.presenterModeTiled'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button id="presenterModeFull" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickPresenterMode', event)"
                                        data-win-bind="ariaChecked: presenterModeFull">
                                    <div class="button-tip">
                                        <div class="presenter-mode-image" id="presenter_mode_full"></div>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.presenterModeFull'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button id="presenterModeSmall" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickPresenterMode', event)"
                                        data-win-bind="ariaChecked: presenterModeSmall">
                                    <div class="button-tip">
                                        <div class="presenter-mode-image" id="presenter_mode_small"></div>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.presenterModeSmall'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button id="videoListLeft" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickPresenterMode', event)"
                                        data-win-bind="ariaChecked: videoListLeft">
                                    <div class="button-tip">
                                        <div class="presenter-mode-image" id="video_list_left"></div>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.videoListLeft'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button id="videoListRight" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickPresenterMode', event)"
                                        data-win-bind="ariaChecked: videoListRight">
                                    <div class="button-tip">
                                        <div class="presenter-mode-image" id="video_list_right"></div>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.videoListRight'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button id="videoListDefault" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickPresenterMode', event)"
                                        data-win-bind="ariaChecked: videoListDefault">
                                    <div class="button-tip">
                                        <div class="presenter-mode-image" id="video_list_default"></div>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.videoListDefault'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="action-button-container show-presentation-toggle-container">
                            <button id="showPresentation" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickToggleSwitch', event)"
                                    data-win-bind="ariaChecked: showPresentation">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="presentation"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showPresentation Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.hidePresentation'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showPresentation Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.showPresentation'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-videolist-toggle-container">
                            <button id="showVideoList" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickToggleSwitch', event)"
                                    data-win-bind="ariaChecked: showVideoList">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="camera_user"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showVideoList Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.hideVideoList'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showVideoList Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.showVideoList'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container expand-actions-toggle-container">
                            <div class="settings-container">
                                <button id="expandActions" class="win-button" aria-checked="false"
                                        onclick="AppBar.handleEvent('click', 'clickShowPane', event)"
                                        data-win-bind="ariaChecked: expandActions">
                                    <div class="button-tip">
                                        <span class="show-button"
                                              data-win-bind="style.display: expandActions Binding.Converter.toDisplay">
                                            <i class="show-button-image" id="navigate_down"></i>
                                        </span>
                                        <span class="show-button"
                                              data-win-bind="style.display: expandActions Binding.Converter.toDisplayNone">
                                            <i class="show-button-image" id="navigate_up"></i>
                                        </span>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body"
                                                 data-win-bind="style.display: expandActions Binding.Converter.toDisplay">
                                                <span data-win-res="{textContent: 'tooltip.compressActions'}"></span>
                                            </div>
                                            <div class="bubble-body"
                                                 data-win-bind="style.display: expandActions Binding.Converter.toDisplayNone">
                                                <span data-win-res="{textContent: 'tooltip.expandActions'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="action-button-container show-deskshare-button-container">
                            <button id="showDeskShare" class="win-button"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)"
                                    data-win-bind="style.display: showDeskShareOn Binding.Converter.toDisplay; ariaChecked: showDeskShareActive">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="desk_share"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showDeskShareActive Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.stopDeskShare'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showDeskShareActive Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.showDeskShare'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-media-button-container">
                            <button id="showMedia" class="win-button"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)"
                                    data-win-bind="style.display: showMediaOn Binding.Converter.toDisplay">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="media"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body">
                                            <span data-win-res="{textContent: 'tooltip.showMedia'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container toggle-microphone-button-container">
                            <div class="settings-container"
                                 data-win-bind="style.display: audioOn Binding.Converter.toDisplay">
                                <button id="audioSettings" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickAction', event)">
                                    <div class="button-tip">
                                        <span class="show-button">
                                            <i class="show-button-image" id="navigate_up"></i>
                                        </span>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.audioSettings'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <button id="toggleMicrophone" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)"
                                    data-win-bind="ariaChecked: microphoneOn; style.display: microphoneEnabled Binding.Converter.toDisplay">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="microphone_on"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: microphoneOn Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.microphoneOff'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: microphoneOn Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.microphoneOn'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                            <button id="joinAudio" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)"
                                    data-win-bind="ariaChecked: audioOn; style.display: microphoneEnabled Binding.Converter.toDisplayNone">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="loudspeaker_on"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: audioOn Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.audioOff'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: audioOn Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.audioOn'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container toggle-camera-button-container">
                            <div class="settings-container"
                                 data-win-bind="style.display: cameraOn Binding.Converter.toDisplay">
                                <button id="videoSettings" class="win-button"
                                        onclick="AppBar.handleEvent('click', 'clickAction', event)">
                                    <div class="button-tip">
                                        <span class="show-button">
                                            <i class="show-button-image" id="navigate_up"></i>
                                        </span>
                                        <div class="win-tooltip">
                                            <div class="bubble-arrow"></div>
                                            <div class="bubble-body">
                                                <span data-win-res="{textContent: 'tooltip.videoSettings'}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <button id="toggleCamera" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)"
                                    data-win-bind="ariaChecked: cameraOn">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="camera_on"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: cameraOn Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.cameraOff'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: cameraOn Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.cameraOn'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-connection-button-container">
                            <button id="showConnectionStatus" class="win-button"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="connection_status"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body">
                                            <span data-win-res="{textContent: 'tooltip.showConnectionStatus'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container close-connection-button-container">
                            <button id="closeConnection" class="win-button"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="phone_receiver_horizontal"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body">
                                            <span data-win-res="{textContent: 'tooltip.closeConnection'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container raise-hand-button-container">
                            <button id="raiseHand" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickAction', event)"
                                    data-win-bind="ariaChecked: raiseHand">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="raise_hand"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: raiseHand Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.lowerHand'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: raiseHand Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.raiseHand'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-userlist-button-container">
                            <button id="showUserList" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickShowPane', event)"
                                    data-win-bind="ariaChecked: showUserList">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="team"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showUserList Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.closeUserList'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showUserList Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.openUserList'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-chat-button-container">
                            <button id="showChat" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickShowPane', event)"
                                    data-win-bind="ariaChecked: showChat">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="chat"></i>
                                    </span>
                                    <div class="new-message win-type-caption"
                                         data-win-bind="style.display: hasUnreadMessages Binding.Converter.toDisplay">
                                        <span class="new-message-symbol statusNew">&#34;</span>
                                    </div>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showUserList Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.closeChat'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showUserList Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.openChat'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-notes-button-container">
                            <button id="showNotes" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickShowPane', event)"
                                    data-win-bind="ariaChecked: showNotes">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="notes"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showUserList Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.closeNotes'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showUserList Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.openNotes'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="action-button-container show-panetools-button-container">
                            <button id="showPaneTools" class="win-button" aria-checked="false"
                                    onclick="AppBar.handleEvent('click', 'clickShowPane', event)"
                                    data-win-bind="ariaChecked: showPaneTools">
                                <div class="button-tip">
                                    <span class="show-button">
                                        <i class="show-button-image" id="presenter_management"></i>
                                    </span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showPaneTools Binding.Converter.toDisplay">
                                            <span data-win-res="{textContent: 'tooltip.closePaneTools'}"></span>
                                        </div>
                                        <div class="bubble-body"
                                             data-win-bind="style.display: showPaneTools Binding.Converter.toDisplayNone">
                                            <span data-win-res="{textContent: 'tooltip.openPaneTools'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="emoji-button-container">
                            <button id="toggleEmojiChooser" class="win-button"
                                    onclick="AppBar.handleEvent('click', 'clickToggleEmojiButton', event)">
                                <div class="button-tip">
                                    <span class="emoji-button-icon"></span>
                                    <div class="win-tooltip">
                                        <div class="bubble-arrow"></div>
                                        <div class="bubble-body">
                                            <span data-win-res="{textContent: 'tooltip.emojiChooserc'}"></span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="emojiToolbar" class="tool-box box-bkg box-is-minimized"
                             data-win-control="WinJS.UI.Repeater">
                            <div class="win-button emoji"
                                 onclick="AppBar.handleEvent('click', 'clickEmoji', event)"
                                 data-win-bind="name: text">
                                <div class="button-tip color-emoji">
                                    <div data-win-bind="className: className"></div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-menu-container">
                            <div id="chatMenu" class="chat-menu"
                                 data-win-control="WinJS.UI.Menu">
                                <button data-win-control="WinJS.UI.MenuCommand"
                                        data-win-options="{id: 'showNotification', icon: 'comment'}"
                                        data-win-res="{winControl: {label: 'event.sendPostLabel'}}"
                                        data-win-bind="winControl.disabled: dataMessage.locked"
                                        onclick="AppBar.handleEvent('click', 'clickChatMenuCommand', event)"></button>
                                <hr data-win-control="WinJS.UI.MenuCommand"
                                    data-win-options="{id:'separator',type:'separator'}" />
                                <button data-win-control="WinJS.UI.MenuCommand"
                                        data-win-options="{id: 'lockChatMessage', icon: 'blockcontact'}"
                                        data-win-bind="winControl.disabled: dataMessage.locked"
                                        data-win-res="{winControl: {label: 'event.lockPostLabel'}}"
                                        onclick="AppBar.handleEvent('click', 'clickChatMenuCommand', event)"></button>
                                <button data-win-control="WinJS.UI.MenuCommand"
                                        data-win-options="{id: 'unlockChatMessage', icon: 'contactinfo'}"
                                        data-win-bind="winControl.disabled: dataMessage.locked Binding.Converter.not"
                                        data-win-res="{winControl: {label: 'event.unlockPostLabel'}}"
                                        onclick="AppBar.handleEvent('click', 'clickChatMenuCommand', event)"></button>
                            </div>
                        </div>
                        <div class="post-notification-container">
                            <div id="postNotificationPopup" class="post-notification-popup"
                                 data-win-control="WinJS.UI.Flyout">
                                <div class="notification-title">
                                    <span data-win-res="{textContent: 'event.sendNotification'}"></span>
                                </div>
                                <div class="notification-content">
                                    <div class="notification-meta">
                                        <div class="notification-name">
                                            <span data-win-bind="textContent: dataMessage.name"></span>
                                        </div>
                                        <div class="notification-time">
                                            <span data-win-bind="textContent: dataMessage.time"></span>
                                        </div>
                                    </div>
                                    <div class="notification-text">
                                        <span data-win-bind="textContent: dataMessage.text"></span>
                                    </div>
                                </div>
                                <div class="notification-action">
                                    <button class="win-button"
                                            onclick="AppBar.handleEvent('click', 'clickSendNotification', event)">
                                        <span data-win-res="{textContent: 'flyout.ok'}"></span>
                                    </button>
                                    <button class="win-button"
                                            onclick="AppBar.handleEvent('click', 'clickCancelNotification', event)">
                                        <span data-win-res="{textContent: 'flyout.cancel'}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="notification-container">
                            <div id="notificationPopup" class="notification-popup"
                                 onclick="AppBar.handleEvent('click', 'clickNotification', event)">
                                <div class="notification-content">
                                    <div class="notification-meta">
                                        <div class="notification-name">
                                            <span data-win-bind="textContent: dataNotification.name"></span>
                                        </div>
                                        <div class="notification-time">
                                            <span data-win-bind="textContent: dataNotification.time"></span>
                                        </div>
                                    </div>
                                    <div class="notification-text">
                                        <span data-win-bind="textContent: dataNotification.text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poll-question-container">
                            <div class="poll-question-and-answers">
                                <select id="pollQuestion"
                                        class="poll-question win-dropdown"
                                        data-win-control="WinJS.UI.Repeater"
                                        onchange="AppBar.handleEvent('change', 'changePollQuestion', event)">
                                    <option data-win-bind="value: QuestionID; textContent: QuestionText"></option>
                                </select>
                                <div class="selected-answers">
                                    <div class="selected-answer"
                                         data-win-bind="style.display: dataQuestionnaire.Answer01Text Binding.Converter.toDisplay">
                                        <div class="answer-counter"><span></span></div>
                                        <span data-win-bind="textContent: dataQuestionnaire.Answer01Text"></span>
                                    </div>
                                    <div class="selected-answer"
                                         data-win-bind="style.display: dataQuestionnaire.Answer02Text Binding.Converter.toDisplay">
                                        <div class="answer-counter"><span></span></div>
                                        <span data-win-bind="textContent: dataQuestionnaire.Answer02Text"></span>
                                    </div>
                                    <div class="selected-answer"
                                         data-win-bind="style.display: dataQuestionnaire.Answer03Text Binding.Converter.toDisplay">
                                        <div class="answer-counter"><span></span></div>
                                        <span data-win-bind="textContent: dataQuestionnaire.Answer03Text"></span>
                                    </div>
                                    <div class="selected-answer"
                                         data-win-bind="style.display: dataQuestionnaire.Answer04Text Binding.Converter.toDisplay">
                                        <div class="answer-counter"><span></span></div>
                                        <span data-win-bind="textContent: dataQuestionnaire.Answer04Text"></span>
                                    </div>
                                    <div class="selected-answer"
                                         data-win-bind="style.display: dataQuestionnaire.Answer05Text Binding.Converter.toDisplay">
                                        <div class="answer-counter"><span></span></div>
                                        <span data-win-bind="textContent: dataQuestionnaire.Answer05Text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>