#conferenceController .doc-container {
    width: 100%;
    float: none;
}

#conference.mediaview {
    width: calc(100% - 24px);
    height: calc(100% - 8px);
}

.dropZoneTop--A7khq, 
.dropZoneBottom--ZYMK7J {
    max-height: 40px;
}

.navbar--Z2lHYbG {
    position: absolute !important;
    width: calc(100% - 16px);
}
.center--2pV1iJ {
    visibility: hidden;
}

.left--18SBXP, .right--Z4dKWq {
    z-index: 1;
}

/*.ghost--Z136aiN.default--Z19H5du:hover, .buttonWrapper--x8uow:hover .ghost--Z136aiN.default--Z19H5du*/
.ghost--Z136aiN {
    background-color: var(--btn-primary-bg) !important;
    box-shadow: 0 2px 5px 0 black !important;
    opacity: 0.8;
}

.ghost--Z136aiN.default--Z19H5du:hover, .ghost--Z136aiN.default--Z19H5du:active {
    background-color: var(--btn-primary-bg) !important;
    opacity: 1;
}

.video-overlay-left {
    display: block !important;
    position: absolute !important;
    left: 10px;
    width: 192px !important;
    height: calc(100% - 100px) !important;
}
.video-overlay-right {
    display: block !important;
    position: absolute !important;
    right: 30px;
    width: 192px !important;
    height: calc(100% - 100px) !important;
}
.video-list-vertical {
    grid-template-columns:100% !important;
    grid-template-rows: repeat(auto-fill, 144px) !important;
    width: 192px !important;
    height: 100% !important;
}

.media--Z1xJW08 {
    max-height: calc(100% - 100px);
    margin: 10px 0 !important;
}

.actionsbar--Z1ant6U {
    height: 64px !important;
}
