/*
    margins/paddings for all screens
*/
.events {
     font-family: "Barlow-Regular";
}

.events .content-header {
    color: #07b9cb;
    height: auto;
    display: inline;
}

.events .content-header-line {
    display: inline;
    height: auto;
}

.events .content-header-line > h1 {
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 46px;
    font-weight: 200;
    line-height: 1.216;
    letter-spacing: 0px;
    width: calc(100% - 52px);
}
.events .content-header-line > h2 {
    font-family: "Barlow Semi Condensed", sans-serif;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.167;
    width: calc(100% - 52px);
}
.events .content-header-line > span {
    display: inline-block;
    width: calc(100% - 52px);
}

.events .vaimg { width: 100%; height: 270px;}
.events .event-title {
    color: #2a2f3d;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
}
.events .event-comment { color: #2a2f3d;}

.events .listview {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #000;
}

.events .custlogo {
    display: inline-block;
    position: relative;
    width: 20%;
    height: auto;
    min-height: 100px;
    margin: 15px 0 0 35px;
    padding:5px;
    text-align: center;
}

.events .logo {
    display: block;
    width: 100%;
    height: auto;
}


.events .caption-sort {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 50%;
}

.events .caption-search, .events .caption-filter {
    width: 40%;
    border: solid 0.2px #4e3ab0;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.events label {
    font-size: 16px;
}

.events .caption-field {
    top: 20px;
    left: 8px;
    text-align: left;
    width: 48%;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 5px;
}

.events .win-listview .win-gridlayout .win-container {
    margin: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    /*width: 30%;*/
}

.events .event-item {
    width: 480px;
    height: 360px;
}

.events .event-image {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 270px;
    padding: 0;
    background-color: gainsboro;
}

.events .event-detail.box-bkg:hover {
    background-color: transparent;
}

.events .event-detail {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 270px;
    width: 100%;
    height: calc(100% - 120px);
    padding-left: 10px;
}

.events .event-item { height: 380px;}
.events .win-container { height: 380px;}

.events .event-item .event-title {
    width: calc(100% - 20px);
    height: auto;
}

.events .event-item .event-subtitle {
    width: calc(100% - 20px);
    height: auto;
}

.events .event-item .event-comment {
    width: calc(100% - 32px);
    min-height: 40px;
}

.events .tile-button-color {
    background-color: transparent;
    border-color: transparent;
}

.events .footer {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border-top: solid 0.2px #4e3ab0;

}

.events .footer-content {
    margin: 20px 35px;

}



/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
    @media (max-width:899px) {
    }

    use: .view-size-medium
*/

.view-size-medium .events .win-listview .win-gridlayout .win-container {
    width: 100%;
}
.view-size-medium .events .vaimg {
    width: 100%;
    height: auto;
}
.view-size-medium .events .caption-field {
    width: 35%;
    margin: 0 10px 0 5px;
}
.view-size-medium .events .caption-sort {
    width: 60%;
}

.events .content-header-line > h1,
.events .content-header-line > h2,
.events .content-header-line > body {
    width: calc(100% - 36px);
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/
/*margins/paddings for small screens and orientation vertical
        @media (max-width:499px) {
        }
    use: .view-size-small
*/
.view-size-small .events .win-listview .win-gridlayout .win-container {
    width: 100%;
}

.view-size-small .events .custlogo {
    width: 50%;
    min-height: 70px;
    margin: 15px 0 0 20px;
}

.view-size-small .events .body-content {
    margin: 10px 20px;
}
.view-size-small .events .content-header {
    height: 130px;
    margin-bottom: 5px;
}
.view-size-small .events .caption-field {
    width: 100%;
    margin: 0;
    padding: 0;
}
.view-size-small .events .caption-sort {
    width: 100%;
}
.view-size-small .events .caption-filter, .events .caption-search {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px 0;
}


