
#countdownController .doc-container {
        float: left;
    }

    .countdown-container {
        width: 100%;
    }

    .countdown .field_line_full {
        margin: 5px;
        width: calc(100% - 38px);
        text-align: center;

    }

    .countdown .large_field { font-size: 24px;}
    .countdown-background { background-color: #000000;}

    .countdown .countdown-line { width: 100%; margin: 30px;}
   
    .countdown .count-block { width: 20%; text-align: center; margin: 20px; padding: 5px; background-color: #ffffff; border: 5px solid #ffffff; border-radius: 20px;}
    .countdown .win-h3 {
        display: block;
        font-size: 10em;
        font-weight: 700;
        margin: 30px;
        padding: 10px;
    }
    .countdown .win-h5 { display: block; font-size: 1em; padding: 10px; margin: 30px;}