<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="registerConfirm.css" rel="stylesheet" />
    <script type="text/javascript" src="registerConfirmService.js"></script>
    <script type="text/javascript" src="registerConfirmController.js"></script>
    <script type="text/javascript" src="registerConfirm.js"></script>
</head>
<body class="win-type-body">
    <div class="registerConfirm fragment">
        <div id="registerConfirmController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <div class="centerarea">
                        <div class="confirm-container">
                            <div class="line-separator register-email"></div>
                            <div class="field_line field_line_full register-email">
                                <span class="large_field"
                                      data-win-res="{textContent: 'registerConfirm.waitMessage'}"></span>
                            </div>
                        </div>
                        <div class="countdown-container">
                            <div class="field_line field_line_full">
                                <div class="large_field"
                                     data-win-res="{textContent: 'register.days'}"></div>
                                <span class="large_field"
                                      data-win-bind="textContent: countdown.day"></span>
                            </div>
                            <div class="field_line field_line_full">
                                <div class="large_field"
                                     data-win-res="{textContent: 'register.hours'}"></div>
                                <span class="large_field"
                                      data-win-bind="textContent: countdown.hour"></span>
                            </div>
                            <div class="field_line field_line_full">
                                <div class="large_field"
                                     data-win-res="{textContent: 'register.minutes'}"></div>
                                <span class="large_field"
                                      data-win-bind="textContent: countdown.minute"></span>
                            </div>
                            <div class="field_line field_line_full">
                                <div class="large_field"
                                     data-win-res="{textContent: 'register.seconds'}"></div>
                                <span class="large_field"
                                      data-win-bind="textContent: countdown.second"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>