/* styles theme for customizations */

/********Start Fonts for LB*********/
@font-face {
    font-family: "Symbols";
    src: url(../../../lib/WinJS/fonts/Symbols.woff2) format("woff2"), 
         url(../../../lib/WinJS/fonts/Symbols.woff) format("woff"), 
         url(../../../lib/WinJS/fonts/Symbols.ttf) format("truetype");
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/BarlowSemiCondensed-SemiBold.woff2) format("woff2"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.woff) format("woff"), 
         url(../fonts/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/Barlow-Regular.woff2) format("woff2"), 
         url(../fonts/Barlow-Regular.woff) format("woff"), 
         url(../fonts/Barlow-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

:root {
    --max-content-margin-left: calc(50% - 720px);
    --max-content-width: 1410px;
    --max-content-width-surface: 1460px !important;
    --e-global-color-buttontext: #FFFFFF;
    
    --e-global-color-primary: #2A2F3D;
    --e-global-color-secondary: #07B9CB;
    --e-global-color-text: #2A2F3D;
    --e-global-color-accent: #C2D63E;
    --e-global-color-d4faeed: #F3FBFC;

    --box-shadow-button: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    --outline-focus: 1px solid var(--color-gray-lighter);
    
    --font-family-default: 'Barlow';
    --box-shadow-popup: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-popup-lifted: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --box-shadow-button: none;
    --outline-focus: none;
}
.home .win-type-title,
.home .win-type-subtitle,
.home .win-type-body,
.home .win-type-caption,
.events .win-type-title,
.events .win-type-subtitle,
.events .win-type-body,
.events .win-type-caption,
.event .win-type-title,
.event .win-type-subtitle,
.event .win-type-body,
.event .win-h1,
.event .win-h2,
.event .win-h3,
.event .win-h5,
.event .win-tooltip,
.event .win-type-caption,
.event .caption-field,
.event .content-header {
    font-family: "Barlow";
}

.register .win-type-body,
.register .win-type-title,
.register .win-link,
.register .win-container,
.register .win-textbox,
.register .field_line,
.register .field_line_odd,
.register .field_line_full,
.register .label,
.register .checkbox {
    font-family: "Barlow";
    font-weight: 400;
}

.countdown .win-type-body,
.countdown .field_line_full,
.countdown .win-h3,
.countdown .win-h4,
.countdown .win-h5 {
    font-family: "Barlow";
}

.home .hero-image-container, .events .hero-image-container {
    display: none !important;
}

.home .win-listview .win-gridlayout .win-container, .events .win-listview .win-gridlayout .win-container {
    border: 1px transparent !important;
    border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
}

.home #more_Button {
    background-color: var(--e-global-color-accent) !important;
    color: var(--e-global-color-buttontext) !important;
}

.events button.win-button, .events button.win-button:focus {
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px;
    outline-style: none;
}

.event button.win-button,
.event button.win-button:focus {
    border-color: var(--e-global-color-accent, #a4b726) !important;
}
/****Beginning Changes****/
.event .button-tip .action-image {
    display: none !important;
}

.events button#homeButton {
    padding: 14px 0px !important;
    color: inherit;
    border: none !important;
    background: none !important;
    text-align: left !important;
}

.event button.win-type-title {
    color: var(--e-global-color-buttontext) !important;
}

.events .button-tip .win-tooltip,
.event .button-tip .win-tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: fit-content !important;
    max-width: fit-content !important;
    max-width: -moz-fit-content !important;
    width: -moz-fit-content !important;
    text-align: center;
    right: -50px;
    top: 20px;
    color: #fff;
    text-transform: none !important;
    background: var(--e-global-color-text, #2A2F3D);
    border-color: var(--e-global-color-text, #2A2F3D);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    z-index: 99;
    word-wrap: break-word;
    white-space: normal !important;
}

.event .share-block .win-tooltip {
    visibility: hidden;
    position: relative;
    opacity: 0;
    width: 200px;
    text-align: center;
    left: 0;
    top: 100%;
    color: var(--e-global-color-buttontext) !important;
    background: var(--e-global-color-text, #2A2F3D);
    border-color: var(--e-global-color-text, #2A2F3D);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.event .caption-field {
    color: var(--e-global-color-text) !important;
}

.event .section-4 .caption-field {
    color: var(--e-global-color-accent) !important;
}

.event .speakerblock {
    background-color: inherit;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) {
    border-color: var(--e-global-color-accent, #c2d63e) !important;
}

.event button#calenderButton:not(:hover):not(:active):not(:focus) .win-type-title {
    color: var(--e-global-color-accent, #c2d63e) !important;
}

.register #loginButton, .register #re_registerEvent {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--e-global-color-accent) !important;
    background-color: var(--e-global-color-buttontext) !important;
    cursor: pointer;
    color: var(--e-global-color-accent) !important;
}

.register #loginButton:hover, .register #re-registerEvent:hover {
    background-color: var(--e-global-color-accent) !important;
}

.register #loginButton > div > span, .register #re_registerEvent > span {
    font-weight: 400;
    color: var(--e-global-color-accent) !important;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
}

.register #loginButton > div >span:hover, .register #re_registerEvent > span:hover {
    color: var(--e-global-color-buttontext) !important;
}

.text-lightcolor.win-button {
    background-color: #ffffff !important;
    cursor: pointer;
}

.text-lightcolor.win-button:disabled {
    background-color: #ffffff !important;
    cursor: default;
}

.countdown .countdown-line {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    -webkit-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.countdown .count-block {
    background-color: #ffffff !important;
}

.countdown .win-h3, .countdown .win-h5 {
    color: var(--e-global-color-text) !important;
}

.body-content-bottom {
    visibility: hidden;
}
.body-content-bottom section:not(.elementor-inner-section) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: var(--max-content-margin-left) !important;
    width: var(--max-content-width) !important;
    position: absolute !important;
    padding: 0 15px !important;
}
.body-content-bottom section:not(.elementor-inner-section) > div {
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}
.view-size-biggest .body-content-bottom section:not(.elementor-inner-section) {
    left: 20px !important;
    width: calc(100% - 70px) !important;
}
.view-size-medium .body-content-bottom section:not(.elementor-inner-section) {
    left: 5px !important;
    width: calc(100% - 30px) !important;
    padding: 0 10px !important;
}
.view-size-small .body-content-bottom section:not(.elementor-inner-section) {
    left: 0 !important;
    width: calc(100% - 20px) !important;
}

section.elementor-inner-section > div {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.contentarea {
    background-color: var(--e-global-color-d4faeed, #F3FBFC) !important;
}

.win-type-body {
    color: var(--e-global-color-text, #2A2F3D);
}
.caption-field {
    color: var(--e-global-color-secondary, #07B9CB);
}
.sticky-scrolled .sticky-header-pinned-fixed {
    background-color: Window;
}

.win-button {
    cursor: pointer;
}

.text-lightcolor.win-button {
    background-color: Window;
}

.text-lightcolor.win-button:disabled {
    background-color: #dcdcE4 !important;
    cursor: default;
}

.event .contentarea {
    background-color: #ffffff !important;
}

.event .color_container2, .event .color_container4 {
    background-color: var(--e-global-color-d4faeed, #F3FBFC) !important;
}

.register .checkbox {
    padding: 12px 0 !important;
    font-size: small !important;
}
/******** Ende Fonts for LiveBridge*********/


/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1299px 
    @media (max-width:1299px) {
    }

    use: .view-size-biggest
*/


/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1099px 
    @media (max-width:1099px) {
    }

    use: .view-size-bigger
*/


/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
    @media (max-width:899px) {
    }

    use: .view-size-medium
*/



/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/



/*margins/paddings for small screens and orientation vertical
        @media (max-width:499px) {
        }
    use: .view-size-small
*/
.view-size-small .home .content-header {
    width: calc(100% - 20px);
}