/*
    margins/paddings for all screens
*/

:root {
    --e-global-color-accent: #c2d63e;
    --e-global-color-primary: #2a2f3d;
    --e-global-color-buttontext: #ffffff;
    --background-item: #7f7f7f;
    --border-color: #b5b5b5;
    --font-family-default: "Barlow";
}
.home .bold {
    font-weight: 600;
}

.home .listview {
    width: 100%;
    height: 100%;
}

/* width of content should be limited to 1300px (view-size-biggest), so add margin on wide screens */

.home .win-listview .win-vertical .win-footercontainer,
.home .win-listview .win-vertical .win-headercontainer {
    margin-left: var(--max-content-margin-left);
    width: var(--max-content-width);
    padding: 15px 10px 40px 10px;
}

.home .win-listview .win-vertical .win-gridlayout.win-surface {
    -ms-grid-rows: auto !important;
    margin-left: var(--max-content-margin-left);
    width: var(--max-content-width);
}

.home .win-listview.win-groups .win-vertical .win-gridlayout .win-groupleader {
    margin-top: 60px;
    width: var(--max-content-width) !important;
}

.home .win-listview .win-vertical .win-gridlayout.win-structuralnodes .win-uniformgridlayout.win-itemscontainer.win-laidout {
    width: var(--max-content-width) !important;
    padding: 0 0 30px 0;
}

.home .win-listview .win-vertical .win-itemscontainer.group-expanded {
    height: auto !important;
    border-color: var(--border-color);
    border-width: 0 1px 1px 1px;
    border-style: none solid solid solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.home .win-listview .win-vertical .win-itemscontainer.group-collapsed {
    height: 0 !important;
    display: none;
}

.home .contentarea {
    background-color: var(--e-global-color-buttontext);
}

.home .win-listview .win-itembox {
    background-color: Window;
    cursor: pointer;
}

.home .win-listview .win-vertical .win-itemsblock {
    width: 100% !important;
    height: auto !important;
}

.home .list-header {
    padding: 0;
    height: auto;
}

.home .list-footer {
    margin-top: 65px;
    min-height: 100px;
    padding: 30px 0;
    margin-bottom: 20px;
}

.home .hero-image-container {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 600px;
    padding: 0;
    overflow: hidden;
}

.home .hero-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .win-listview .win-groupheadercontainer {
    padding: 10px 0;
    box-shadow: none;
    transform: translate3d(0,0,0);
    transition-property: box-shadow,transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    border-color: var(--border-color);
}
.home .win-listview .win-groupheadercontainer.group-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid solid none solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.home .win-listview .win-groupheadercontainer.group-collapsed {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}
    /*.home .win-listview .win-groupheadercontainer:hover,
.home .win-listview .win-groupheadercontainer:focus {
    background-color: rgba(128,128,128,0.1);
    transform: translate3d(0,-2px,0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition-property: box-shadow,transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
}*/

.home .win-listview .win-groupheader {
    width: calc(100% - 70px);
    padding: 5px 0 20px 35px;
}

.home .group-header {
    margin: 0;
    padding: 0;
    width: 100%;
}
.home .group-header:hover {
    text-decoration: none;
}

.home .group-image-container {
    left: 18px;
    width: 100%;
    height: 440px;
    padding: 0;
    overflow: visible;
}

.home .group-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .content-header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.home .content-header1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: auto;
    width: 100%;
}

.home .content-header2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    height: auto;
    width: 100%;
}

.home .content-header3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 20px 10px;
    gap: 10px;
    width: 127px;
    height: 39px;
}

.home .group-header .content-header {
    width: 100%;
    height: auto;
    /*cursor: pointer;*/
}

.home #more_Button {
    font-family: var(--font-family-default);
    height: auto;/*40px*/
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
    color: var(--e-global-color-buttontext);

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

/*.home #more_Button:hover {
    border-color: var(--e-global-color-primary);
}*/

.home .content-header-line {
    height: auto;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.home .more_Button {
    padding-left: 30px;
    margin-top: 10px;
    width: auto;
}

.home .expander-container {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px 20px 5px;
    gap: 10px;

    width: 48px;
    height: 48px;
}
.home .expander-button {
    width: 50px;
    height: 50px;
    border: 2px solid var(--e-global-color-accent);
    background-color: inherit;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*.home .expander-button:hover {
    border-color: var(--e-global-color-primary);
}*/
.home .expander-icon {
    width: 40px;
    height: 40px;
}

.home .content-header-line > h1 {
    font-family: var(--font-family-default);
    font-size: 46px;
    font-weight: 600;
    line-height: 56px;
}

.home .content-header-line > h2 {
    font-family: var(--font-family-default);
    font-size: 25px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    font-style: normal;
}

.home .content-header-line > h3 {
    font-family: var(--font-family-default);
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    font-style: normal;
}

.home .content-header-line > span {
    font-family: var(--font-family-default);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.home .event-title {
    font-weight: 600;
    line-height: 1.167;
    padding: 5px 0 0 0;
}

.home .custlogo {
    display: inline-block;
    position: relative;
    width: 20%;
    height: auto;
    margin: 15px 0 0 0;
    padding: 5px;
    text-align: center;
}

.home .logo {
    display: block;
    width: 100%;
    height: auto;
}

.home ::selection {
    background-color: var(--e-global-color-buttontext);
}

.home .win-itemsblock {
    margin-left: 3%;
}

.home .win-listview .win-gridlayout .win-container {
    margin: 0 15px 15px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
    height: 506px;
    width: auto;
    transform: translate3d(0,0,0);
    transition-property: box-shadow,transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    border: 1px transparent;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    background-color: var(--e-global-color-buttontext) !important;
}
.home .win-listview .win-gridlayout .win-container:hover,
.home .win-listview .win-gridlayout .win-container:focus {
    transform: translate3d(0,-2px,0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition-property: box-shadow,transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
}

html.win-hoverable .win-selectionstylefilled .win-container:hover .win-itembox {
    background-color: var(--e-global-color-buttontext) !important;
}

.home .event-item {
    width: 285px;
    height: 506px;
}

.home .event-image-container {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    padding: 0;
    background-color: var(--background-item);
    overflow: hidden;
}

.home .event-image-container > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home .win-listview .win-gridlayout .win-container:hover .event-image-container {
    opacity: 0.8;
}

.home .win-listview .win-gridlayout .win-container:hover .event-detail.box-bkg {
    background-color: var(--e-global-color-buttontext) !important;
}

.home .event-detail {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: calc(100% - 180px);
    padding-left: 10px;
}

.home .event-item .event-title {
    width: calc(100% - 20px);
    height: auto;
    font-weight: 600;
    padding: 10px 0;
    font-size: 22px;
    line-height: 28px;
}

.home .event-item .event-subtitle {
    width: calc(100% - 20px);
    height: auto;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.home .event-item .event-comment {
    width: calc(100% - 32px);
    min-height: 40px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1299px 
    @media (max-width:1299px) {
}

    use: .view-size-biggest
*/

.view-size-biggest .home .win-listview .win-vertical .win-footercontainer,
.view-size-biggest .home .win-listview .win-vertical .win-headercontainer {
    margin: 0 1%;
    width: calc(100% - 60px);
    padding: 40px 15px;
}

.view-size-biggest .home .win-listview .win-vertical .win-gridlayout.win-surface {
    margin: 0 1%;
    width: calc(100% - 60px) !important;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1099px 
    @media (max-width:1099px) {
    }

    use: .view-size-bigger
*/

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
@media (max-width:899px) {
    }

    use: .view-size-medium
*/

.view-size-medium .home .win-listview .win-vertical .win-footercontainer,
.view-size-medium .home .win-listview .win-vertical .win-headercontainer {
    margin-left: 5px;
    width: calc(100% - 30px);
    padding: 10px;
}

.view-size-medium .home .win-listview .win-vertical .win-gridlayout .win-surface {
    margin: 0 5px;
    width: calc(100% - 10px);
}

.view-size-medium .home .win-listview .win-groupheader { }

.view-size-medium .home .win-listview .win-gridlayout .win-container {
    margin: 0 10px 10px 0;
}

.view-size-medium .home .more_Button {
    margin-top: 0;
    padding-left: 20px;
}

.view-size-medium .home .content-header1 {
    margin-top: 10px;
}

.view-size-medium .home .expander-container {
    padding-top: 0;
}

.view-size-medium .home .content-header-line {
    width: calc(100% - 20px);
}

.view-size-medium .home .content-header-line > h1 {
    font-size: 26px;
    line-height: 32px;
}

.view-size-medium .home .content-header-line > h2 {
    font-size: 22px;
    line-height: 26px;
}

.view-size-medium .home .content-header-line > span {
    font-size: 16px;
    line-height: 24px;
}

.view-size-medium .home .event-item .event-comment {
    font-size: 14px;
}

.view-size-medium .home .event-item .event-title {
    font-size: 18px;
}

.view-size-medium .home .event-item .event-subtitle {
    padding: 0;
}
/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/

/*margins/paddings for small screens and orientation vertical
@media (max-width:499px) {
        }
    use: .view-size-small
*/
.view-size-small .home .win-listview .win-vertical .win-footercontainer,
.view-size-small .home .win-listview .win-vertical .win-headercontainer {
    margin-left: 0;
    width: calc(100% - 20px);
}

.view-size-small .home .win-listview .win-vertical .win-gridlayout.win-surface {
    margin-left: 0;
    width: calc(100% - 10px) !important;
}

.view-size-small .home .win-listview .win-gridlayout .win-container {
    margin: 30px 10px;
}

.view-size-small .home .win-listview .win-groupheader {
    padding: 10px;
    width: calc(100% - 20px);
}

.view-size-small .home .custlogo {
    width: 50%;
    min-height: 70px;
    margin: 15px 0 0 20px;
}
    
.view-size-small .home .hero-image-container {
    height: auto;
}

.view-size-small .home .expander-container {
    padding-top: 0;
    padding-right: 0;
}

.view-size-small .home .content-header-line {
    width: 100%;
}

.view-size-small .home .content-header-line > h1 {
    font-size: 22px;
}

.view-size-small .home .content-header-line > h2 {
    font-size: 16px;
}

.view-size-small .home .caption-sort {
    width: 100%;
}

.view-size-small .home .caption-filter, .home .caption-search {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px 0;
}


