/*
    margins/paddings for all screens
*/
.home .win-type-title,
.home .win-type-subtitle,
.home .win-type-body,
.home .win-type-caption {
    font-family: "Barlow";
}

.home .bold {
    font-weight: 600;
}

/* width of content should be limited to 1100px (view-size-bigger), so add margin on wide screens */

.home .win-listview .win-vertical .win-gridlayout.win-headerpositiontop.win-surface {
    -ms-grid-rows: auto !important;
    margin-left: calc(50% - 530px);
    width: 1030px;
}

.home .win-listview.win-groups .win-vertical .win-gridlayout .win-groupleader {
    margin-top: 40px;
}

.home .win-listview .win-vertical .win-footercontainer,
.home .win-listview .win-vertical .win-headercontainer {
    margin-left: calc(50% - 530px);
    width: 1030px;
    padding: 15px;
}

.home .list-header {
    padding: 0;
    height: auto;
}

.home .hero-image-container {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    max-height: 600px;
}

.home .hero-image-container > img {
    width: 100%;
    height: auto;
}

.home .win-listview .win-groupheader {
    width: 1030px;
    padding: 15px;
}

.home .group-header {
    margin: 0;
    padding: 0;
    width: 100%;
}
.home .group-header:hover {
    text-decoration: none;
}

.home .group-image-container {
    left: 18px;
    width: auto;
    padding: 0;
    overflow: visible;
}

.home .group-image-container > img {
    width: auto;
    height: 440px;
}

.home .content-header {
    color: #2a2f3d;
    height: auto;
    width: 100%;
}

.home .group-header .content-header {
    color: #2a2f3d;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.home .content-header-line {
    height: auto;
    width: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.home .content-header-line > h1 {
    text-transform: uppercase;
}

.home .content-header-line > h2 {
}

.home .content-header-line > span {

}

.home .event-title {
    color: #2a2f3d;
    font-weight: 600;
    line-height: 1.167;
    padding: 5px 0 0 0;
}

.home .event-comment {
    color: #2a2f3d;
}

.home .listview {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000;
}

.home .custlogo {
    display: inline-block;
    position: relative;
    width: 20%;
    height: auto;
    min-height: 100px;
    margin: 15px 0 0 35px;
    padding: 5px;
    text-align: center;
}

.home .logo {
    display: block;
    width: 100%;
    height: auto;
}

.home .win-listview .win-gridlayout .win-container {
    margin: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
    height: 320px;
    width: auto;
}

.home .event-item {
    width: 240px;
    height: 320px;
}

.home .event-image-container {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 115px;
    padding: 0;
    background-color: gainsboro;
    overflow: hidden;
}

.home .event-image-container > img {
    width: 100%;
    height: auto;
}

.home .event-detail {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 115px;
    width: 100%;
    height: calc(100% - 115px);
    padding-left: 10px;
}

.home .event-item .event-title {
    width: calc(100% - 20px);
    height: auto;
    color: #2a2f3d;
    font-weight: 600;
    line-height: 1.167;
    padding: 15px 0 5px 0;
}

.home .event-item .event-subtitle {
    width: calc(100% - 20px);
    height: auto;
    padding: 0 0 15px 0;
}

.home .event-item .event-comment {
    width: calc(100% - 20px);
    min-height: 40px;
    font-size: 14px;
    color: #2a2f3d;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 1099px 
    @media (max-width:1099px) {
    }

    use: .view-size-bigger
*/

.view-size-bigger .home .win-listview .win-vertical .win-footercontainer,
.view-size-bigger .home .win-listview .win-vertical .win-headercontainer {
    margin-left: 20px;
    width: calc(100% - 70px);
    padding: 15px;
}
.view-size-bigger .home .win-listview .win-vertical .win-gridlayout.win-headerpositiontop.win-surface {
    margin-left: 20px;
}
.view-size-bigger .home .win-listview .win-groupheader {
    width: calc(100% - 70px);
    padding: 15px;
}
.view-size-bigger .home .win-listview .win-gridlayout .win-container {
    margin: 15px;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 899px 
    @media (max-width:899px) {
    }

    use: .view-size-medium
*/

.view-size-medium .home .hero-image-container > img {
    height: 100%;
    width: auto;
}

.view-size-medium .home .win-listview .win-groupheader {
    width: calc(100% - 70px);
}

.view-size-medium .home .content-header-line > h1 {
    font-size: 1.2em;
}

.view-size-medium .home .content-header-line > h2 {
    font-size: 1em;
}

/*margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px 

    use: .view-size-medium-small
*/


/*margins/paddings for small screens and orientation vertical
        @media (max-width:499px) {
        }
    use: .view-size-small
*/

/*.view-size-small .home .hero-image-container {
    height: 1100px;
}
.view-size-small .events .hero-image-container > img {
    height: 100%;
    width: auto;
}

.view-size-small .home .win-listview .win-vertical .win-gridlayout.win-headerpositiontop.win-surface {
    margin-left: 0;
    width: 100%;
}
.view-size-small .home .win-listview .win-groupheader {
    width: 100%;
    padding: 0;
}

.view-size-small .home .win-listview .win-vertical .win-footercontainer,
.view-size-small .home .win-listview .win-vertical .win-headercontainer {
    margin-left: 0;
    width: 100%;
    padding: 0;
}

.view-size-small .home .win-listview .win-gridlayout .win-container {
    width: 100%;
    margin: 15px 0;
}
.view-size-small .home .event-item {
}
*/

.view-size-small .home .win-listview .win-groupheader {
    width: calc(100% - 40px);
}

.view-size-small .home .custlogo {
    width: 50%;
    min-height: 70px;
    margin: 15px 0 0 20px;
}

.view-size-small .home .content-header-line > h1 {
    font-size: 22px;
}

.view-size-small .home .content-header-line > h2 {
    font-size: 16px;
}

.view-size-small .home .caption-sort {
    width: 100%;
}

.view-size-small .home .caption-filter, .home .caption-search {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px 0;
}


