#recordedContentController .doc-container {
    width: 100%;
    float: none;
}

#recordedContent.mediaview {
    width: 100%;
    height: calc(100% - 8px);
}

#recordedContent .win-progress-ring {
    margin-left: 50%;
}

#recordedContent #copyright {
    display: none;
}

#recordedContent #side-section {
    position: absolute;
    right: 0;
}

#recordedContent.presentation-is-hidden #presentation-area {
    display: none;
}

#recordedContent.videolist-is-hidden #video-area {
    height: 0 !important;
}

#chat {
    line-height: 1em;
    font-size: 0.8em;
}

#recordedContent.presentation-is-hidden #chat-area,
#recordedContent.videolist-is-hidden #chat-area {
    height: 100% !important;
}

#recordedContent.presenter-mode.presenter-mode-tiled #video-area {
    height: 85% !important;
    padding-top: 18%;
    overflow: hidden;
}
#recordedContent.presenter-mode.presenter-mode-tiled #video-area video {
    object-fit: cover;
}
#recordedContent.presenter-mode.presenter-mode-tiled #chat-area {
    height: 15% !important;
}