#recordedContentController .doc-container {
    width: 100%;
    float: none;
}

#recordedContent.mediaview {
    width: 100%;
    height: calc(100% - 8px);
}

#recordedContent .win-progress-ring {
    margin-left: 50%;
}

#recordedContent #copyright {
    display: none;
}

#recordedContent #side-section {
    position: absolute;
    right: 0;
}

#recordedContent.presentation-is-hidden #presentation-area {
    display: none;
}

#recordedContent.videolist-is-hidden #video-area {
    height: 0 !important;
}


