<!--TEaser.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="teaser.css" rel="stylesheet" />
    <script type="text/javascript" src="teaserService.js"></script>
    <script type="text/javascript" src="teaserController.js"></script>
    <script type="text/javascript" src="teaser.js"></script>
</head>
<body class="win-type-body">
    <div class="teaser fragment">
        <div id="teaserController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <div class="centerarea">
                        <!--<div class="field_line field_line_full">-->
                        <!--<span class="event-title"
    data-win-bind="textContent: dataText.ev_text_detail_name_h1"></span>-->
                        <!--</div>-->
                        <div class="teaser-container" data-win-bind="style.display: showEvDoc Binding.Converter.toDisplay">
                            <div class="ITbackground">
                                <img class="ipadImg" data-win-bind="src: dataDoc.ev_doc; title: dataDocText.ev_doc_title; alt: dataDocText.ev_doc_alt; longdesc: dataDocText.ev_doc_descr; style.display: dataDoc.ev_doc Binding.Converter.toDisplay" />
                            </div>
                        </div>
                        <div class="teaser-container" data-win-bind="style.display: showOnDoc Binding.Converter.toDisplay">
                            <div class="ITbackground">
                                <img class="ipadImg" data-win-bind="src: dataDoc.on_doc; title: dataDocText.on_doc_title; alt: dataDocText.on_doc_alt; longdesc: dataDocText.on_doc_descr; style.display: dataDoc.on_doc Binding.Converter.toDisplay" />
                            </div>
                        </div>
                        <div class="teaser-container" data-win-bind="style.display: showOffDoc Binding.Converter.toDisplay">
                            <div class="ITbackground">
	                            <img class="ipadImg" data-win-bind="src: dataDoc.off_doc; title: dataDocText.off_doc_title; alt: dataDocText.off_doc_alt; longdesc: dataDocText.off_doc_descr; style.display: dataDoc.off_doc Binding.Converter.toDisplay" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>