<!--TEaser.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<base href="https://deimos.convey.de/LSCustomer/fragments/register/" />-->
    <link href="teaser.css" rel="stylesheet" />
    <script type="text/javascript" src="teaserService.js"></script>
    <script type="text/javascript" src="teaserController.js"></script>
    <script type="text/javascript" src="teaser.js"></script>
</head>
<body class="win-type-body">
    <div class="teaser fragment">
        <div id="teaserController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea content-noscroll win-type-body">
                    <div class="centerarea">
                        <!--<div class="field_line field_line_full">-->
                        <!--<span class="event-title"
           data-win-bind="textContent: dataText.ev_text_detail_name_h1"></span>-->
                        <!--</div>-->
                        <div class="teaser-container">
                            <div class="ITbackground">
                                <img class="ipadImg" data-win-bind="src: dataMedien.ev_doc4" />
                                <!-- <div>
                <div class="action-label" data-win-bind="textContent: dataText.teaser.info1"></div>
                <div class="action-label" data-win-bind="textContent: dataText.teaser.info2"></div>
            </div>
            <div class="action-label" data-win-res="{textContent: 'startnodata.text3'}"></div>
            <div class="action-label">
                <a data-win-res="{textContent: 'startnodata.text6', href: 'startnodata.text4'}" target="_blank"></a>
            </div>
            <div class="action-label">
                <a data-win-res="{textContent: 'startnodata.text7', href: 'startnodata.text5'}" target="_blank"></a>
            </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>