#teaserController .doc-container {
    float: left;
    margin-top: 20px;
}

.teaser .centerarea {
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
}

.teaser-container { width: 100%; height: auto;}

.titlearea-bkg {
	background-color: rgb(216, 97, 65); /*dummy workaround because of exception in color.js*/
}

.teaser .ipadImg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    background-color: transparent;
}
/*#teaserController .centerarea .large_field {
    margin-left: calc(50% - 200px)
}*/

.teaser .event-title {
    width: calc(100% - 20px);
    height: 40px;
    font-size: 28px;
}